@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tab_inner {
    /* border: 1px solid red; */
    width: 300px;
    height: 350px;
    position: relative;
}
input[name=tabmenu] {
    display: none;
}
.content {
    display: none;
}
.btn {
    /* border: 1px solid blue; */
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
}
.btn label {
    background-color: lightgrey;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

input[id=tab1]:checked ~.slide1,
input[id=tab2]:checked ~.slide2,
input[id=tab3]:checked ~.slide3{
    display: block;
}
input[id=tab1]:checked ~.btn label[for=tab1],
input[id=tab2]:checked ~.btn label[for=tab2],
input[id=tab3]:checked ~.btn label[for=tab3] {
    background-color: crimson;
}