
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'LineSeed';
  src: url('../fonts/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'LineSeed';
  src: url('../fonts/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

