/* *******************************************************
* 파일명 : layout.css
* 작성자 : 이윤
* 작성일 : 25-12-07
* 설  명 : header/footer 스타일 선언
**********************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-h);
}

header .logo a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #3B2F2F;
}

header .gnb {
    display: flex;
    list-style: none;
    gap: 47px;
    align-items: center;
}

header .gnb li a {
    display: inline-block;
    text-decoration: none;
    color: #3B2F2F;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    padding: 11px 24px 9px 24px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

header .gnb li a:hover,
header .gnb li a.active-link { 
    color: #fff ;
    background-color: #4000FF;
}