@import url(default.css);
@import url(font.css); /* cdn 방식은 외부에서 가져오는 방식이기 때문에 없어지면 연결 안됨 */
@import url(common.css);

header {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m);
}
header .logo a {
    display: block;
    width: 193px;
    height: 30px;
    background: url(../images/logo_w.svg)no-repeat center center / contain;
}
header .util {
    display: flex; /* search-mypage 좌우배치 */
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
header .util .search .sch_open i {
    display: block;
    width: 17.58px;
    margin: 5px 0 0 0 ;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
header .util .mypage i { /* a 태그는 inline-block 안먹힘*/
    display: block;
    width: 20px;
    margin: 5px 0 0 0 ;
}
header {
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}
header .logo a {
    transition: background-image 0.5s;
}
/* header가 fixed 되었을때*/

header.fixed {
    background-color: var(--color-white);
    color: var(--color-title);
    fill: var(--color-title);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
}

/*************************************** 시작 : pc버전 메뉴 ***************************************/
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 나옴*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /*depth2정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 24px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.5417em;
        white-space: nowrap;
        /* 행간이 높아서 2줄이 되면 이상함. 그래서 무조건 1줄로 나오는게 좋음 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main2);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
        content: "";
        left: 0;
        top: 0;
        width: 5px;
        height: 5px;
        background-color: var(--color-main2);
        border-radius: 50%;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a:hover {
        color: var(--color-main2);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /* hover 했을때만 나옴 */
        position: absolute;
        left: 50%; /* li 넓이의 50% */
        transform: translate(-50%); /* depth2 넓이의 50% */
        top: var(--header-h);
        padding: 20px 24px;
        background-color: #fff;
        border-radius: 0 0 20px 20px;
        font-family: var(--font-family-depth);
        font-size: var(--font-size-basic);
        font-weight: var(--font-weight-basic);
        line-height: var(--line-height-depth);
        color: var(--color-title);
        border: 1px solid var(--color-gray2);
        min-width: 100%; /* li의 넓이 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 8px 0 ;
        white-space: nowrap;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--color-main2);
    }
    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-white);
        color: var(--color-title);
        fill: var(--color-title);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    header.menu_pc .logo a {
        background: url(../images/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color : var(--color-main2);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}/* @media */
/* 1024이하는 메뉴가 접힘 1025이상일때 스타일*/
@media screen and (min-width:1025px) and (max-width:1200px){
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 17px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 12px;
    }
}
/*************************************** 끝 : pc버전 메뉴 ***************************************/
/*************************************** 시작 : 모바일 ***************************************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
                height: var(--header-var);
            }
            header .logo a {
                /* width: 109.37px;
                height: 17px; */
                width: clamp(109.37px, 15vw, 193px);
                /* 최소, 평소 , 최대*/
            }
            header .util {
                display: none; /* 숨김 */
            }
            header .gnb .gnb_open {
                display: flex;
                justify-content: center;
                align-items: center;
                width: var(--header-var);
                height: var(--header-var);
            }
            header .gnb .gnb_open i {
                display: block;
                width: 32.14%;
            }
            header .gnb .gnb_wrap {
                /* display : none; */
                position: absolute; /* header를 기준으로 정렬 */
                right: -110%;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: var(--color-white);
                color: var(--color-title);
                fill: var(--color-title);
                transition: right 0.5s ;
            }
            /* 메뉴가 열렸을때 */
            header.menu_mo .gnb .gnb_wrap {
                /* display: block; */
                right: 0;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: var(--header-var) 0 0 0;
                height: calc(100dvh - var(--header-var));
                overflow-y: auto; 
                /* 주어진 높이보다 콘텐츠가 짧으면 스크롤바 안생김 
                주어진 높이보다 콘텐츠가 더 긴 경우에만 스크롤바가 생김 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-size: 17px;
                font-weight: var(--font-weight-bold);
                padding: 23.5px 57px 23.5px var(--wrapper-m);
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--color-main2);
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                right: var(--wrapper-m);
                top: 50%;
                transform: translateY(-50%); /* after 높이의 절반 */
                width: 16px; /* 소수점이 들어가면 균일하게 안나옴 */
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.90755 6.42742L14.0326 0.302419C14.2409 0.094086 14.4874 -0.00660848 14.7721 0.000335976C15.0569 0.00728043 15.3034 0.114919 15.5117 0.323253C15.7201 0.531586 15.8242 0.778114 15.8242 1.06284C15.8242 1.34756 15.7201 1.59409 15.5117 1.80242L9.09505 8.19825C8.92839 8.36492 8.74089 8.48992 8.53255 8.57325C8.32422 8.65659 8.11589 8.69825 7.90755 8.69825C7.69922 8.69825 7.49089 8.65659 7.28255 8.57325C7.07422 8.48992 6.88672 8.36492 6.72005 8.19825L0.303386 1.78159C0.0950527 1.57325 -0.00564295 1.3302 0.00130172 1.05242C0.00824639 0.774641 0.115886 0.531585 0.324219 0.323252C0.532552 0.114919 0.77908 0.010752 1.0638 0.010752C1.34853 0.0107521 1.59505 0.114919 1.80338 0.323252L7.90755 6.42742Z' /%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: translateY(-50%) rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%2390BD20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.90755 6.42742L14.0326 0.302419C14.2409 0.094086 14.4874 -0.00660848 14.7721 0.000335976C15.0569 0.00728043 15.3034 0.114919 15.5117 0.323253C15.7201 0.531586 15.8242 0.778114 15.8242 1.06284C15.8242 1.34756 15.7201 1.59409 15.5117 1.80242L9.09505 8.19825C8.92839 8.36492 8.74089 8.48992 8.53255 8.57325C8.32422 8.65659 8.11589 8.69825 7.90755 8.69825C7.69922 8.69825 7.49089 8.65659 7.28255 8.57325C7.07422 8.48992 6.88672 8.36492 6.72005 8.19825L0.303386 1.78159C0.0950527 1.57325 -0.00564295 1.3302 0.00130172 1.05242C0.00824639 0.774641 0.115886 0.531585 0.324219 0.323252C0.532552 0.114919 0.77908 0.010752 1.0638 0.010752C1.34853 0.0107521 1.59505 0.114919 1.80338 0.323252L7.90755 6.42742Z' /%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                display: none; /* 클릭할때만 나옴 */
                padding: 20px var(--wrapper-m) 20px calc(var(--wrapper-m) + 18px);
                background-color: var(--color-gray);
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
                padding: 0 0 16px 0 ;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:last-child {
                padding: 0;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
            }
            header .gnb .gnb_wrap .gnb_logo {
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                left: var(--wrapper-m);
                top: 0;
                width: clamp(109.37px, 15vw, 193px);
                height: var(--header-var);
                background: url(../images/logo.svg) no-repeat center center /contain;
            }
            header .gnb .gnb_wrap .gnb_close {
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-var);
                height: var(--header-var);
                display: flex; /* icon 정렬하려면 감싸는 태그가 해줘야함 */
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_wrap .gnb_close i {
                display: block;
                width: 23.48%;
                
            }
}
.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    display: flex; /* li 좌우배치 */ /* wrapperfmf 하단에 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/bg3.jpg);
}
.visual .swiper-slide p {
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 0 0 calc(15dvh + 53px) 0;
    /* 글자가 나타나는 효과 */
    transition: 2s;
    transform: translate(100px, 0);
    opacity: 0;
}
.visual .swiper .swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 15%;
    z-index: 10;
    display: flex;
    gap: 0 7px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 7px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 210px;
    height: 3px;
    background-color: var(--color-white3);
    position: relative;
}
.visual .ctrl_btn .paging .bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--bar-width, 0%); /* ← 여기에 CSS 변수 적용 */
    height: 100%;
    background-color: var(--color-white);
    transition: width 0.5s ease; /* 부드럽게 변경 */
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-white3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.visual .ctrl_btn .play {
    display: none;
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 12px;
    margin: 2px 0 0 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 10.12px;
    margin: 2px 0 0 11px;
}
@media screen and (max-width:1360px){
    .visual .ctrl_btn {
        left: 50px;
    }
}
@media screen and (max-width:1024px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
                .visual .ctrl_btn {
                    left: 16px;
                }
    .visual .swiper-slide {
        height: 591px;
    }
    .visual .swiper-slide p {
        font-size: clamp(24px, 5vw, 60px);
        font-weight: var(--font-weight-basic);
        line-height: var(--line-height-tit);
        margin: 0 0 102px 0;
        /* 글자가 나타나는 효과 */
        transition: 2s;
        transform: translate(0, 20px);
    }
    .visual .ctrl_btn {
        bottom: 55px;
    }
    .visual .ctrl_btn .paging .bar {
        width: 90px;
    }
}

.find {
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 154px 0 112px 0;
    /* padding: clamp(72px, 20vw, 154px) 0 clamp(69px, 11vw, 112px); */
}
.find h2 {
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    text-align: center;
}
.find .tab_list {
    margin: 27px 0 0 0;
}
.find .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 0 24px;
}
.find .tab_list ul li button {
    display: block;
    padding: 13px 35px 12px 35px;
    border-radius: 30px;
    color: var(--color-white2);
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
.find .tab_list ul li.active button {
    background-color: var(--color-point);
    color: var(--color-title);
}
.find .tab_list ul li.item2.active button {
    background-color : var(--color-main2);
    color: var(--color-title);
    /* background-color: rgba(121, 121, 121, 0.5);
    color: var(--color-white2); */
}
.find .tab_content {
    margin: 45px 0 0 0;
}
.find .tab_content .tab_item {
    position: relative; /* ctrl_btn 정렬의 기준 */
    display: none; /* active 클래스가 있은 요소만 보임 */
}
.find .tab_content .tab_item.active {
    display: block; /* active 클래스가 있는 요소만 */
}
.find .tab_content .tab_item .list .swiper-slide {
    width: 220px;
}
.find .tab_content .tab_item .list .swiper-slide a {
    display: block;
}
.find .tab_content .tab_item .list .swiper-slide a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}
.find .tab_content .tab_item .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 {
    display: flex; /* strong-span 좌우 배치 */
    gap: 0 10px;
    align-items: center;
    margin: 31px 0 0 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 strong {
    font-size: var(--font-size-tit2);
    font-weight : var(--font-weight-bold);
    line-height: var(--line-height-tit);

    /* 1줄 제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul {
    margin: 21px 0 0 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li {
    display: flex; /* strong-span 좌우 배치 */
    gap: 0 20px;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.mo_only {
    display: none; /* 모바일에서만 */
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 span {
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-basic);
    line-height: var(--line-height-tit);
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li span {
    /* 1줄 제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .ctrl_btn {
    position: absolute; /* tab_item를 기준으로 정렬 */
    right: 0;
    top: -100px;
    display: flex;
    gap: 0 15px;
}
.find .tab_content .tab_item .ctrl_btn .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(121, 121, 121, 0.5);
    color: var(--color-white2);
}
.find .tab_content .tab_item .ctrl_btn .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(121, 121, 121, 0.5);
    color: var(--color-white);
}
.find .tab_content .tab_item .ctrl_btn .prev i,
.find .tab_content .tab_item .ctrl_btn .next i {
    display: block;
    width: 10.45px;
    margin: 5px 0 0 0;
}
.find .tab_content .tab_item .ctrl_btn .more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    height: 56px;
    padding: 0 17px 0 29px;
    border-radius: 30px;
    background-color: rgba(121, 121, 121, 0.5);
}
.find .tab_content .tab_item .ctrl_btn .more i {
    display: flex;
    width: 14px;
}
@media screen and (max-width:768px){
            .find {
                padding: 72px 0 69px 0;
                /* padding: clamp(72px, 20vw, 154px) 0 clamp(69px, 11vw, 112px); */
            }
            .find .tab_list {
                margin: 15px 0 0 0;
            }
            .find .tab_list ul {
                gap: 0 7px;
            }
            .find .tab_list ul li button {
                padding: 3px 11px;
            }
            .find .tab_content {
                margin: 18px 0 0 0; /* ??? */
            }
            .find .tab_content .tab_item .list .swiper-slide a .photo {
                height: 261px;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt h4 {
                gap: 0 5px;
                margin: 15px 0 0 0;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt h4 strong {
                font-size: var(--font-size-tit2);
                font-weight : var(--font-weight-bold);
                line-height: var(--line-height-tit);
            
                /* 1줄 제한 */
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul {
                margin: 21px 0 0 0;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul li {
                display: flex; /* strong-span 좌우 배치 */
                gap: 0 20px;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.mo_only {
                display: none; /* 모바일에서만 */
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul li span {
                /* 1줄 제한 */
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .find .tab_content .tab_item .ctrl_btn {
                position: relative; /* tab_item를 기준으로 정렬 */
                right: calc(100% - );
                top: auto;
                display: flex;
                margin: 36px 0 0 0;
                gap: 0 15px;
            }
            .find .tab_content .tab_item .ctrl_btn .prev,
            .find .tab_content .tab_item .ctrl_btn .next {
                display: none;
            }
            .find .tab_content .tab_item .ctrl_btn .more {
                gap: 0 4px;
                height: 27px;
                padding: 0 3px 0 9px;
            }
            .find .tab_content .tab_item .ctrl_btn .more i {
                display: flex;
                width: 10.5px;
            }
}/* @media */

.slogan {
    margin: 370px 0 0 0;
    text-align: center;
}
.slogan h2 {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-depth);
    color: var(--color-title);
}
.slogan p {
    margin: 50px 0 0 0;
    font-weight: var(--font-weight-basic);
    line-height: var(--line-height-basic);
    color: var(--color-title);
}

footer {
    margin: 1000px 0 0 0;
}