/* *******************************************************
* 파일명 : layout.css
* 작성자 : 이윤
* 작성일 : 25-11-25
* 설  명 : header/footer 스타일 선언
**********************************************************/
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-h);
    align-items: center;
    padding: 0 var(--wrapper-m);
    background-color: var(--color-white);
}
header .logo a {
    display: block;
    width: 190px;
    height: 32px;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
    gap: 0 54px;
    font-size: var(--font-size-header);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
}
header .gnb .gnb_wrap ul.depth1 li {
    position: relative;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    color: #1d1d1d;
    transition: color 0.3s;
}
header .gnb .gnb_wrap ul.depth1 > li:hover > a {
    color: #042D7C;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    position: absolute;
    left: 50%;
    top: 69px;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 400;
    line-height: 2.0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}
header .gnb .gnb_wrap ul.depth1 > li:hover > ul.depth2 {
    opacity: 1;
    visibility: visible;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 li a {
    display: none; /* 마우스 오버 하면 보임 */
    white-space: nowrap;
}
/* depth2 a 보이게 */
header .gnb .gnb_wrap ul.depth1 > li:hover > ul.depth2 li a {
    display: block;
}
header .gnb_bg {
    position: absolute;
    left: 0;
    top: var(--header-h); /* header 높이 바로 아래 */
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: height 0.3s ease;
    z-index: 5;
}
header .menu {
    display: block;
    width: 22.5px;
    height: 22.5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.5V20H22.5V22.5H0ZM0 12.5V10H22.5V12.5H0ZM0 2.5V0H22.5V2.5H0Z' /%3E%3C/svg%3E%0A");
}
/*******************************header에 on 클래스 추가 *********************/
/* on 클래스가 붙은 li */

header .gnb_bg.on {
    height: 600px; /* 원하는 드롭다운 높이 */
}
footer {
    margin: 1000px 0 0 0;
}