@import url(common.css);

.biz strong,
.ship strong {
    font-weight: 700;
    margin: 0 0 25px 0;
    display: block;
}
.biz h1,
.ship h2,
.global h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.biz h1,
.global h2 {
    color: #1d1d1d;
}
.biz {
    margin: 140px 0 0 0;
    text-align: center;
}
.biz strong {
    color: #002f87;
}
.ship {
    margin: 90px 0 0 0;
    background: url(../imges/hd_ship.jpg) no-repeat center center / cover;
    height: 550px;
    color: #fff;
    padding: 120px 0 0 0;
}
.ship p {
    margin: 25px 0 20px 0;
}
.ship a {
    border: 1px solid #fff;
    padding: 9px 30px 9px 30px;
    display: inline-block;
    border-radius: 25px;
}
.global {
    margin: 180px 0 180px 0;
    text-align: center; /* 이미지도 인라인 태그라서 적용됨 */
}
.global .photo {
    margin: 40px auto 0 auto;
    width : 832px;
    height: 302px;
    overflow: hidden; /* 설정한 이미지보다 클때 영역을 넘치는걸 잘라냄 */
    border-radius: 15px;
}
.global .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}