@import url(common.css);

.plus {
    margin: 165px 0 0 0;
}
.plus .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.plus .tit {
    width: 40.55%; /* 1260에서 넓이 511  / 1260 * 100*/
    margin: 40px 0 0 0;
}
.plus .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 21px 0;
}
.plus .photo {
    width: 49.04%; /* 1260에서 넓이 618  / 1260 * 100*/
    border-radius: 20px;
}
.plus .photo img {
    vertical-align: top; /* 이미지 하단 여백 삭제 */
}

@media screen and (max-width:1024px){
    .plus .tit h2 {
        font-size: 32px;
    }
}
/* plus media */
@media screen and (max-width:768px){
        .plus {
            margin: 90px 0 0 0;
        }
        .plus .wrapper {
            display: block;
        }
        .plus .tit {
            width: auto; /* auto로 넓이 해제 */
            margin: 0 0 31px 0;
        }
        .plus .tit h2 {
            font-size: 24px;
            margin: 0 0 17px 0;
        }
        .plus .photo {
            width: auto; /* 1260에서 넓이 618  / 1260 * 100*/
            border-radius: 10px;
        }
        .plus .photo img {
            vertical-align: top; /* 이미지 하단 여백 삭제 */
        }
}

.support {
    margin: 129px 0 0 0;
}
.support .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.support .tit {
    width: 511px; /* 1260에서 넓이 511  / 1260 * 100*/
    margin: 40px 0 0 0;
}
.support .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 21px 0;
}
.support .photo {
    width: calc(100% - 618px); /* 1260에서 넓이 618  / 1260 * 100*/
    border-radius: 20px;
    height: 412px;
}

/* support media */
@media screen and (max-width:1024px){
    .support .tit {
        width: 511px; /* 1260에서 넓이 511  / 1260 * 100*/
    }
    .support .tit h2 {
        font-size: 32px;
    }
    .support .photo {
        width: auto; /* 1260에서 넓이 329  / 1260 * 100*/
    }
}
@media screen and (max-width:768px){
        .support {
            margin: 90px 0 0 0;
        }
        .support .wrapper {
            display: block;
        }
        .support .tit {
            width: auto; /* auto로 넓이 해제 */
            margin: 0 0 31px 0;
        }
        .support .tit h2 {
            font-size: 24px;
            margin: 0 0 17px 0;
        }
        .support .photo {
            width: auto; /* 1260에서 넓이 329  / 1260 * 100*/
            border-radius: 10px;
            height: 219px;
        }
}

.minus {
    margin: 90px 0 0 0;
}
.minus .wrapper {
    display: flex;
    justify-content: space-between;
}
.minus .tit {
    width: 40%;
}
.minus .photo {
    width: 50%;
    height: 412px;
    border-radius: 20px;
}
.minus .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 21px 0;
}

/* minus media */
@media screen and (max-width:1024px){
    .minus .tit h2 {
        font-size: 32px;
    }
}
@media screen and (max-width:768px){
        .minus {
            margin: 129px 0 0 0;
        }
        .minus .wrapper {
            display: block;
        }
        .minus .tit {
            width: auto;
            margin: 0 0 17px 0;
        }
        .minus .photo {
            width: auto;
            height: 217px;
            border-radius: 10px;
        }
        .minus .tit h2 {
            font-size: 24px;
            margin: 0 0 17px 0;
        }
}

.service {
    margin: 129px 0 0 0;
    background-color: #1549A4;
    color: #fff;
    padding: 108px 0 108px 0;
}
.service .list ul {
    display: flex;
}
.service .list ul li {
    width: 16.66%; /* 나를 감싸는 ul 넓이의 16% */
}
.service .list ul li a {
    display: flex;
    gap: 0 20px;
    align-items: center;
}
.service .list ul li a i {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    /* svg를 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .list ul li a span {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}
/* service media */
@media screen and (max-width:1336px){
    .service .list ul li a {
        /* a안에서 좌우에 가운데 flex로 정렬 */
        gap: 10px 0;
        flex-direction: column;
    }
    .service .list ul li a span br {
        display: none;
    }
}
@media screen and (max-width:1024px){
    .service .list ul li a span {
        font-size: 20px;
        text-align: center;
    }
    .service .list ul li a span br {
        display: block; /* 줄바꿈 다시 사용 */
    }
}
@media screen and (max-width:768px){
    .service .list ul {
        flex-wrap: wrap;
        gap: 50px 0; /* li와 li 위아래 여백 */
    }
    .service .list ul li {
        width: 33.33%; /* 나를 감싸는 ul 넓이의 16% */
    }
    .service .list ul li a {
        gap: 0 5px; /* 글자와 아이콘 위아래 여백 */
    }
    .service .list ul li a i {
        width: 30px;
        height: 30px;
        background-color: transparent; /* 투명 */
    }
    .service .list ul li a i svg {
        width: 90%;
        height: 90%;
        /* 감사는 영ㅇ역이 svg에 써있는 사이즈보다 작으면
            자동으로 사이즈가 줄어듬 */
    }
    .service .list ul li a i svg path {
        fill : #fff;
    }
    /* 내가 복사한 svg html에 path 에 fill이 들어가 있음
        그래서 path에 fill을 줘야함 */
    .service .list ul li a span {
        font-size: 16px;
        margin: 15px 0 0 0;
    }
    .service .list ul li a span br {
        display: none; /* 줄바꿈 없음 */
    }
}
@media screen and (max-width:460px){
    .service {
        margin: 42px 0 0 0;
        padding: 73px 0 64px 0;
    }
    .service .list ul li {
        width: 50%; 
    }
}

.sdi {
    margin: 100px 0 0 0;
}
.sdi .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.sdi .inner {
    margin: 48px 0 0 0;
    display: flex;
    gap: 0 24px;
}
.sdi .inner .item {
    background-color: #f4f4f4;
    border-radius: 20px;
    height: 291px;
    width: calc(25% - 18px);
    padding: 42px 30px 0 30px;
}
.sdi .inner .item.career {
    width: calc(50% - 12px);
    /* 나와 같은 사이즈가 있ㅇ르때의 사이즈 */
    padding: 0;
}
.sdi .inner .item h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.sdi .inner .career .career_tit {
    background-color: #1549A4;
    color: #fff;
    border-radius: 20px 20px 0 0 ;
    padding: 43px 30px 42px 30px;
    display: flex;
    align-items: center;
    gap: 0 22px;
}
.sdi .inner .career .career_tit h3 {
    color: #fff;
}
.sdi .inner .career .career_list ul {
    display: flex;
    margin: 73px 0 0 0;
}
.sdi .inner .career .career_list ul li {
    width: 33.33%;
    text-align: center;
}
.sdi .inner .career .career_list ul li a {
    color: #1d1d1d;
    font-size: 17px;
    font-weight: 700;
    display: block;
}
.sdi .inner .career .career_list ul li a br {
    display: none;
}
/* sid media */
@media screen and (max-width:1024px){
    .sdi .inner .career .career_list ul li a br {
        display: block; /* 줄바꿈 적용 */
    }
}
@media screen and (max-width:768px){
    .sdi {
        margin: 42px 0 0 0;
    }
    .sdi .tit h2 {
        font-size: 24px;
        margin: 0 0 5px 0;
    }
    .sdi .inner {
        margin: 48px 0 0 0;
        display: flex;
        flex-wrap: wrap; /* 두줄허용 */
        gap: 16px 16px;
    }
    .sdi .inner .item {
        width: calc(50% - 8px);
    }
    .sdi .inner .item.career {
        width: 100%; /* flex로 정렬되기 때문에 절때 auto 안됨 */
    }
    .sdi .inner .item h3 {
        font-size: 20px;
        margin: 0 0 5px 0;
    }
}



body {
    margin: 0 0 500px 0;
}
