@import url(common.css);

:root {
    --header-h: 90px;
}
@media screen and (max-width:1024px){
    :root {
        --header-h: 56px;
    }
}
header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #FFF;
    padding: 0 30px 0 30px;

    display: flex; /* logo-gnb-util 좌우 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../imges/menu_logo_w.svg)no-repeat center center / contain; /*logo에 사용*/
}
header .util {
    display: flex;
}
header .util .lang .lang_open {
    width: 40px;
    height: 40px;

    display: flex; /* i를 가운데 정렬 */
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i {
    display: block;
    width: 20px;
    height: 20px;
}
header .util .search .search_open {
    width: 40px;
    height: 40px;

    display: flex;/* i를 가운데 정렬 */
    justify-content: center;
    align-items: center;
}
header .util .search .search_open i {
    display: block;
    width: 18px;
    height: 18px;
}

/* header media */
@media screen and (min-width:1025px){ /* pc버전에서만 적용 */
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li좌우 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* 2차메뉴 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a { /* 1차메뉴만 선택하는 선택자 > */
        display: block;
        font-size: 22px;
        font-weight: 700;
        line-height: var(--header-h);
        padding: 0 40px 0 40px;
    }
    header .gnb .gnb_wrap ul.depth1 > li ul.depth2 {
        /* 2차메뉴는 absolute로 처리 */
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%; /*li의 넓이 100% */
        padding: 13px 0 0 0; /* margin으로 주면 오버아웃이 발생함 */
        display: none; /* 오버했을때 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 > li ul.depth2 > li > a {
        display: block;
        padding: 5px 0 5px 0;
        text-align: center;
        color: #555;
    }
    /* 메뉴가 열렸을때  header에 menu_over가 들어갔을때*/
    header.menu_over {
        color: #1d1d1d;
    }
    header.menu_over::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* header 내부요소 중에서 맨 아래, header 밖으로 못나감 */
        width: 100%;
        height: 270px;
        background-color: #FFF;
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: rgba(45, 45, 45, 0.2);
    }
    header.menu_over .logo a {
        background: url(../imges/menu_logo.svg);
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #FFC62A;
        transition: 0.3s;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span {
        position: relative; /* after 정렬의 기준 */
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -32px;
        z-index: 10;
        width: 100%;
        height: 4px;
        background-color: #FFC62A;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li ul.depth2 {
        display: block;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li ul.depth2 > li > a:hover {
        text-decoration: underline;
        color: #FFC62A;
    }
    header.menu_over .util .lang .lang_open i svg path{
        fill: #1d1d1d;
    }
    header.menu_over .util .search .search_open i svg path {
        fill: #1d1d1d;
    }
}
@media screen and (max-width:1024px){
    /* 1024이하일때 - 즉 메뉴가 모바일 버전으로 변경 */
        header {
            padding: 0 0 0 16px;
        }
        header .logo a {
            width: 24px;
            height: 24px;
        }
        header .gnb .gnb_open {
            position: absolute; /* header 기준 정렬 */
            right: 0; 
            top: 0;
            width: var(--header-h);
            height: var(--header-h);

            display: flex; /* svg 정렬 */
            justify-content: center;
            align-items: center;
        }
        header .gnb .gnb_open i {
            display: block; 
            width: 18px;
            height: 18px;
            margin: 0 0 5px 0;
        }
        header .gnb .gnb_wrap {
            display: none; /* 메뉴 오픈했을때 보임 */
            position: absolute; /* header를 기준으로 정렬 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100dvh;
            background-color: #FFF;
            color: #1d1d1d;
            padding: 88px 0 0 0;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            padding: 16px 55px 16px 16px; /* 오른쪽 아이콘과 글자가 겹치지 않기 위해서 */
            font-size: 22px;
            font-weight: 700;
            position: relative; /* after 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > a::after {
            content: "";
            position: absolute; /* a를 기준으로 정렬 */
            right: 18px;
            top: 28px;
            width: 20px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 2L10 12L0 2L1.775 0.224999L10 8.45L18.225 0.224999L20 2Z' fill='%23555555'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            background-color: #e2e2e2;
            padding: 22px 36px 22px 36px;
            display: none; /* 1차메뉴가 열리면 보임 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 5px 0 5px 0;
        }
        header .gnb .gnb_close {
            display: none;
            position: absolute; /* header를 기준으로 정렬 */
            right: 0;
            top: 0;
            width: var(--header-h);
            height: var(--header-h);
            /* 메뉴가 열리면 flex를 줄 예정 */
            justify-content: center;
            align-items: center;
        }
        header .gnb .gnb_close i {
            display: block;
            width: 14px;
            height: 14px;
        };
        header .util {
            position: absolute; /* header를 기준으로 정렬*/
            right: var(--header-h);
            top: 0;
        }
        header .util .lang {
            display: none;
        }
        header .util .search .search_open {
            width: 22px;
            height: var(--header-h);
            margin: 0 56px 0 0;
        }
        header .util .lang .lang_open i {
            width: 20px;
            height: 20px;
        }
        /* header에 menu_open이 있을때 */
        header.menu_open .gnb .gnb_wrap {
            display: block;
        }
        header.menu_open .gnb .gnb_close {
            display: flex;
            padding: 0 0 10px 0;
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
            transform: rotate(180deg);
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
            display: block;
        }
}

.visual {
    height: 100dvh;
    background: url(../imges/menu_visaul_bg.jpg)no-repeat center center / cover;
}