@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
/* body 태그는 모든 태그를 감싸는태그, 글자의 기본스타일을 줘야함, 글자스타일은 상속이 가능 */
* {
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Pretendard';
  font-size: 17px;
  line-height: 1.5; /* 행간 */
  font-weight: 400; /* 폰트 두께 */
  color: #555555;
}
.wrapper {
  width: 1260px;
  margin: 0 auto; /* 가운데 정렬 */
}
.eng {
    margin: 85px 0 0 0;
}
.eng h1{
  font-size: 40px;
  font-weight: 700;
  color: #1d1d1d;
}
.eng .sub_tit {
  font-size: 24px;
  color: #1d1d1d;
  margin: 26px 0 10px 0;
}
.eng strong{
    color: #195aff;
    font-weight: 700;
}
.env {
    margin: 70px 0 0 0;
    text-align: center;
}
.env h1{
    font-size: 60px;
    font-weight: 700;
    color: #d91b10;
}
.env .sub_tit {
  font-weight: 700;
  color: #1d1d1d;
  margin: 10px 0 10px 2px;
}
.env strong {
    color: #d91b10;
    font-weight: 700;
    text-decoration: underline;
}
.ven {
    margin: 70px 0 0 0;
    text-align: right;
}
.ven h1{
    font-size: 60px;
    font-weight: 700;
    color: #195aff;
}
.ven .sub_tit {
  font-weight: 700;
  color: #1d1d1d;
  margin: 10px 0 10px 2px;
}