@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tab_inner {
    border: 1px solid red;
    width: 300;
    height: 350px;
    overflow: hidden;
}
input[name=tabmenu] {
    display: none;
}
.slide {
    position: relative;
    width: 300px;
    height: 300px;
}
.slide_inner {
    width: 900px;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.btn {
    text-align: center;
    margin-top: 10px;
}
.btn label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}
input[id=tab1]:checked ~ .slide .slide_inner {
    left: 0;
}
input[id=tab2]:checked ~ .slide .slide_inner {
    left: -300px;
}
input[id=tab3]:checked ~ .slide .slide_inner {
    left: -600px;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
    background-color: crimson;
}