/* *******************************************************
* 파일명 : layout.css
* 작성자 : 이윤
* 작성일 : 25-12-04
* 설  명 : header/footer 스타일 선언
**********************************************************/
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-h);
    align-items: center;
    padding: 0 var(--wrapper-m);
}
header .logo a {
    display: block;
    width: 169px;
    height: 60px;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
    font-size: var(--font-size-header);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);
}
header .gnb .gnb_wrap ul.depth1 li {
    position: relative;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    color: var(--color-white);
    transition: color 0.3s;
    padding: 30px 29px;
}
header .gnb .gnb_wrap ul.depth1 > li:hover > a,
header .gnb .gnb_wrap ul.depth1 > li > a:focus {
    color: var(--color-point);
}
header .gnb .gnb_wrap ul.depth1 > li:hover > a span {
    position: relative;
    display: inline-block;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 500;
    line-height: 2.0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 20;
    background-color: var(--color-main);
    min-width: 164px;
    min-height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 17px 0;
}
header .gnb .gnb_wrap ul.depth1 > li:hover > ul.depth2,
header .gnb .gnb_wrap ul.depth1 > li:focus-within > ul.depth2 {
    opacity: 1;
    visibility: visible;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 li a {
    display: block; /* 마우스 오버 하면 보임 */
    white-space: nowrap;
    transition: color 0.3s;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 li a:hover,
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 li a:focus {
    display: block;
    color: var(--color-point);
    font-weight: 700;
}
header .util {
    display: flex;
    gap: 0 15px;
}
header .util .search {
    display: block;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6 18L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L18 16.6L16.6 18ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .menu {
    display: block;
    width: 18px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2V0H18V2H0ZM0 14V12H18V14H0ZM0 8V6H18V8H0Z' /%3E%3C/svg%3E%0A");
}