/* *******************************************************
* 파일명 : contents.css
* 작성자 : 이윤
* 작성일 : 25-10-29
* 설  명 : 연혁, 인사말 등의 각 페이지에만 들어가는 스타일들을 모두 모음
           이 파일에 있는 css를 수정하면 그 페이지 한개에만 영향을 끼침
**********************************************************/

/* 회사소개 - CEO인사말 */
.ctn_ceo .ceo_head {
    height: 200dvh;
    position: relative; /* photo 정렬의 기준 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ctn_ceo .ceo_head .ceo_photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100dvh;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="end"] {
    top: auto;
    bottom: 0;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
    position: fixed;
}
.ctn_ceo .ceo_head::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 100%;
    font-size: 60px;
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background : url(../images/contents/ceo_img01.jpg) no-repeat center center / cover;
    transition: width 0.5s, height 0.5s;
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.ctn_ceo .ceo_head .ceo_txt {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ctn_ceo .ceo_head .ceo_txt p {
    color: var(--color-white);
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 90px 0 0 0 ;
}
.ctn_ceo .ceo_cont {
    margin: 75px 0 182px 0;
    color: var(--color-black);
}
.ctn_ceo .ceo_cont h3 {
    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
.ctn_ceo .ceo_cont p {
    margin: 39px 0 0 0;
}
.ctn_ceo .ceo_cont .sign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 34px 0;
    margin: 16px 0 0 0;
}
.ctn_ceo .ceo_cont .sign strong {
    font-weight: var(--font-weight-bold);
}
.ctn_ceo .ceo_cont .sign .sign_img {
    display: block;
    width: 161px;
    height: 77px;
    background: url(../images/contents/ceo_sign.jpg) no-repeat center center / contain;
}
@media screen and (max-width:1024px){
    .ctn_ceo .ceo_head .ceo_txt p {
        font-size: 2.6rem;
        margin: 54px 0 0 0 ;
    }
    .ctn_ceo .ceo_cont {
        margin: 78px 0 78px 0;
        color: var(--color-black);
    }
    .ctn_ceo .ceo_cont h3 {
        font-size: 2rem;
    }
    .ctn_ceo .ceo_cont p {
        margin: 78px 0 0 0;
    }
    .ctn_ceo .ceo_cont .sign {
        flex-direction: row;
        align-items: center;
        gap: 0 14px;
        margin: 25px 0 0 0;
    }
    .ctn_ceo .ceo_cont .sign .sign_img {
        width: 121px;
        height: 69px;
    }
}
@media screen and (max-width:450px){
    .ctn_ceo .ceo_head .ceo_txt p br {
        display: none;
    }
}

/******************************** 기업소개 > 연혁 ******************************/
.ctn_history .his_head {
    font-size: clamp(40px, 6vw, 6rem);
    padding: 2.2667em 0 2.2667em 0;
    background: url(../images/contents/his_head01.jpg) no-repeat center center / cover;
    color: var(--color-white2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctn_history .his_head.bg2 {
    background-image: url(../images/contents/his_head02.jpg);
}
.ctn_history .his_head.bg3 {
    background-image: url(../images/contents/his_head03.jpg);
}
.ctn_history .his_head.bg4 {
    background-image: url(../images/contents/his_head04.jpg);
}
.ctn_history .his_head h3 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    position: relative; /* strong 정렬의 기준 */
    white-space: nowrap; /* 줄바꿈 금지 */
}
.ctn_history .his_head h3 strong {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    color: var(--color-white);
    transition: width 0.5s;
}
.ctn_history .his_cont {
    margin: 130px 0 239px 0;
}
.ctn_history .his_cont .wrapper {
    display: flex;
    justify-content: space-between;
}
.ctn_history .his_cont.tit_right .wrapper {
    flex-direction: row-reverse;
    text-align: right;
}
.ctn_history .his_cont .his_tit {
    max-width: 45%;
}
.ctn_history .his_cont .his_tit strong {
    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-main);
    font-family: 'Pretendard';
}
.ctn_history .his_cont .his_tit h4 {
    font-size: var(--font-size-visual);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-black);
    margin: 28px 0 0 0;
}
.ctn_history .his_cont .his_year {
    width: 50%;
    position: relative; /* before 정렬의 기준 */
    padding-left: 21px;
}
.ctn_history .his_cont.tit_right .his_year {
    padding-left: 0;
    padding-right: 21px;
    text-align: right;
}
.ctn_history .his_cont .his_year::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}
.ctn_history .his_cont.tit_right .his_year::before {
    left: auto;
    right: 0;
}
.ctn_history .his_cont .his_year .year_tit {
    font-size: 2.8rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-black);
    margin: 0 0 23px 0 ;
    position: relative; /* before 정렬의 기준 */
    font-family: 'Pretendard';
}
.ctn_history .his_cont .his_year .year_list + .year_tit { /* 인접 형제 선택자 : 두번째 요소부터 적용 */
    margin-top: 60px; 
}
.ctn_history .his_cont .his_year .year_tit::before {
    content: "";
    position: absolute;
    left: -26px;
    top: 11px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-main);
}
.ctn_history .his_cont.tit_right .his_year .year_tit::before {
    left: auto;
    right: -26px;
}
.ctn_history .his_cont .his_year .year_tit:first-child::after {
    content: "";
    position: absolute;
    left: -21px;
    top: 0;
    width: 1px;
    height: 11px;
    background-color: var(--color-white);
}
.ctn_history .his_cont.tit_right .his_year .year_tit:first-child::after {
    left: auto;
    right: -21px;
}
.ctn_history .his_cont .his_year .year_list {
    position: relative; /*after 정렬의 기준 */
}
.ctn_history .his_cont .his_year .year_list dl {
    margin: 0 0 0 11px;
}
.ctn_history .his_cont .his_year .year_list dl dt {
    font-family: 'Pretendard';
    color: var(--color-black);
    float: left;
}
.ctn_history .his_cont .his_year .year_list:last-child::after {
    content: "";
    position: absolute;
    left: -21px;
    top: -36px;
    width: 1px;
    height: calc(100% + 60px);
    border-radius: 50%;
    background-color: var(--color-white);
}
.ctn_history .his_cont.tit_right .his_year .year_list:last-child::after {
    left: auto;
    right: -21px;
}
.ctn_history .his_cont.tit_right .his_year .year_list dl dt {
    float: right;
}
.ctn_history .his_cont .his_year .year_list dl dd {
    margin: 0 0 22px 87px;
}
.ctn_history .his_cont.tit_right .his_year .year_list dl {
    margin: 0 11px 0 0 ;
}
.ctn_history .his_cont.tit_right .his_year .year_list dl dd {
    margin: 0 87px 22px 0;
}
.ctn_history .his_bar {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 99; /* header 바로아래 */
    background-image: linear-gradient(90deg, #941D19, #2E0908);
    color: var(--color-white);
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    max-width: 95%;
    overflow: hidden;
    transition: bottom 0.5s;
}
.ctn_history .his_bar.hide {
    bottom: -100px;
}
.ctn_history .his_bar ul {
    display: flex;
    gap: 0 100px;
    overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
    }
.ctn_history .his_bar ul::-webkit-scrollbar {
    display: none;
}
.ctn_history .his_bar ul li a {
    display: block;
    padding: 0.375em 1.375em 0.4167em 1.375em;
    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    border-radius: 50px;
    white-space: nowrap;
    font-family: 'Pretendard';
}
.ctn_history .his_bar ul li.active a {
    background-color: var(--color-black);
}
@media screen and (max-width:1024px){
    .ctn_history .his_cont {
        margin: 85px 0 170px 0;
    }
    .ctn_history .his_cont .wrapper {
        display: block;
    }
    .ctn_history .his_cont.tit_right .wrapper {
        text-align: left;
    }
    .ctn_history .his_cont .his_tit {
        max-width: 100%;
    } 
    .ctn_history .his_cont .his_tit strong {
        font-size: 1.7rem;
        color: var(--color-main);
        font-family: 'Pretendard';
    }
    .ctn_history .his_cont .his_tit h4 {
        font-size: var(--font-size-sub);
        margin: 26px 0 0 0;
    }
    .ctn_history .his_cont .his_tit h4 br {
        display: none;
    }
    .ctn_history .his_cont .his_year {
        width: 50%;
        position: relative; /* before 정렬의 기준 */
        padding-left: 29px;
    }
    .ctn_history .his_cont.tit_right .his_year {
        padding-left: 29px;
        padding-right: 0;
        text-align: left;
    }
    .ctn_history .his_cont.tit_right .his_year::before {
        left: 0;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_tit {
        font-size: 2.8rem;
        margin: 0 0 28px 0 ;
    }
    .ctn_history .his_cont .his_year .year_list + .year_tit { /* 인접 형제 선택자 : 두번째 요소부터 적용 */
        margin-top: 62px; 
    }
    .ctn_history .his_cont .his_year .year_tit::before {
        left: -34px;
    }
    .ctn_history .his_cont.tit_right .his_year .year_tit::before {
        left: -34px;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_tit:first-child::after {
        left: -29px;
    }
    .ctn_history .his_cont.tit_right .his_year .year_tit:first-child::after {
        left: -29px;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_list:last-child::after {
        left: -29px;
        top: -42px;
    }
    .ctn_history .his_cont.tit_right .his_year .year_list:last-child::after {
        left: -29px;
        top: -41px;
    }.ctn_history .his_cont.tit_right .his_year .year_list dl {
        margin: 0 0 0 11px ;
    }
    .ctn_history .his_cont.tit_right .his_year .year_list dl dt {
        float: left;
    }
    .ctn_history .his_cont .his_year .year_list dl dd {
        margin: 0 0 24px 93px;
        white-space: nowrap;
    }
    .ctn_history .his_cont.tit_right .his_year .year_list dl dd {
        margin: 0 0 24px 93px;
        white-space: nowrap;
    }
    .ctn_history .his_bar ul {
        display: flex;
        gap: 0 100px;
        overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE, Edge */
        scrollbar-width: none;  /* Firefox */
        }
    .ctn_history .his_bar ul::-webkit-scrollbar {
        display: none;
    }
    .ctn_history .his_bar ul li a {
        padding: 0.4118em 0.4706em 0.4118em 0.4706em;
        font-size: 1.7rem;
        font-weight: var(--font-weight-basic);
        line-height: var(--line-height-basic);
    }
    .ctn_history .his_bar ul li.active a {
        background-color: var(--color-black);
    }
}/*@media*/
@media screen and (max-width:768px){
    .ctn_history .his_cont .his_year .year_list dl dd {
        white-space: nowrap;
    }
    .ctn_history .his_cont.tit_right .his_year .year_list dl dd {
        white-space: nowrap;
    }
}/*@media*/

/************ 회사소개 > 찾아오시는길 *********************************************************************/
.ctn_map {
    margin: 0 0 100px 0;
}
.ctn_map .map_area {
    height: 555px;
}

.ctn_map .map_area iframe {
    border: 0;
    width: 100%;
    height: 100%;
}
.ctn_map .map_info {
    margin-top: -110px;
    position: relative; /* z-index는 반드시 position값이 있어야함 */
    z-index: 10;
}
.ctn_map .map_info .info_wrap {
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 70px 70px 116px 70px;
}
.ctn_map .map_info .info_wrap h3 {
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 0 0 54px 0 ;
}
.ctn_map .map_info .info_wrap .group {
    display: flex;
    gap: 0 58px;
}
.ctn_map .map_info .info_wrap .group .item {
    position: relative; /* before 정렬의 기준 */
    padding: 0 0 0 75px;
}
.ctn_map .map_info .info_wrap .group .item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: rgba(204, 204, 204, 0.2);
}
.ctn_map .map_info .info_wrap .group .item.add::before {
    background-size: 14px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 14.475C8.65 13.1417 9.89583 11.8583 10.7375 10.625C11.5792 9.39167 12 8.23333 12 7.15C12 5.65 11.5333 4.41667 10.6 3.45C9.66667 2.48333 8.46667 2 7 2C5.53333 2 4.33333 2.48333 3.4 3.45C2.46667 4.41667 2 5.65 2 7.15C2 8.23333 2.42083 9.39167 3.2625 10.625C4.10417 11.8583 5.35 13.1417 7 14.475ZM7 17C4.65 15.2667 2.89583 13.5833 1.7375 11.95C0.579167 10.3167 0 8.71667 0 7.15C0 5.06667 0.65 3.35417 1.95 2.0125C3.25 0.670833 4.93333 0 7 0C9.06667 0 10.75 0.670833 12.05 2.0125C13.35 3.35417 14 5.06667 14 7.15C14 8.71667 13.4208 10.3167 12.2625 11.95C11.1042 13.5833 9.35 15.2667 7 17ZM7 9C7.55 9 8.02083 8.80417 8.4125 8.4125C8.80417 8.02083 9 7.55 9 7C9 6.45 8.80417 5.97917 8.4125 5.5875C8.02083 5.19583 7.55 5 7 5C6.45 5 5.97917 5.19583 5.5875 5.5875C5.19583 5.97917 5 6.45 5 7C5 7.55 5.19583 8.02083 5.5875 8.4125C5.97917 8.80417 6.45 9 7 9ZM0 20V18H14V20H0Z' /%3E%3C/svg%3E%0A");
}
.ctn_map .map_info .info_wrap .group .item.tel::before {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.95 18C14.8667 18 12.8083 17.5458 10.775 16.6375C8.74167 15.7292 6.89167 14.4417 5.225 12.775C3.55833 11.1083 2.27083 9.25833 1.3625 7.225C0.454167 5.19167 0 3.13333 0 1.05C0 0.75 0.1 0.5 0.3 0.3C0.5 0.1 0.75 0 1.05 0H5.1C5.33333 0 5.54167 0.0791667 5.725 0.2375C5.90833 0.395833 6.01667 0.583333 6.05 0.8L6.7 4.3C6.73333 4.56667 6.725 4.79167 6.675 4.975C6.625 5.15833 6.53333 5.31667 6.4 5.45L3.975 7.9C4.30833 8.51667 4.70417 9.1125 5.1625 9.6875C5.62083 10.2625 6.125 10.8167 6.675 11.35C7.19167 11.8667 7.73333 12.3458 8.3 12.7875C8.86667 13.2292 9.46667 13.6333 10.1 14L12.45 11.65C12.6 11.5 12.7958 11.3875 13.0375 11.3125C13.2792 11.2375 13.5167 11.2167 13.75 11.25L17.2 11.95C17.4333 12.0167 17.625 12.1375 17.775 12.3125C17.925 12.4875 18 12.6833 18 12.9V16.95C18 17.25 17.9 17.5 17.7 17.7C17.5 17.9 17.25 18 16.95 18ZM3.025 6L4.675 4.35L4.25 2H2.025C2.10833 2.68333 2.225 3.35833 2.375 4.025C2.525 4.69167 2.74167 5.35 3.025 6ZM11.975 14.95C12.625 15.2333 13.2875 15.4583 13.9625 15.625C14.6375 15.7917 15.3167 15.9 16 15.95V13.75L13.65 13.275L11.975 14.95Z' /%3E%3C/svg%3E%0A");
}
.ctn_map .map_info .info_wrap .group .item h4 {
    font-size: 1.7rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-basic);
}
.ctn_map .map_info .info_wrap .group .item p {
    display: flex;
    flex-wrap: wrap;
    gap: 0 17px;
    margin: 6px 0 0 0;
}
@media screen and (max-width:1024px){
    .ctn_map .map_area {
        height: 350px;
    }
    .ctn_map .map_info {
        margin-top: -55px;
    }
    .ctn_map .map_info .info_wrap {
        padding: 35px 35px 58px 35px;
    }
    .ctn_map .map_info .info_wrap h3 {
        font-size: 2.4rem;
        margin: 0 0 27px 0 ;
    }
    .ctn_map .map_info .info_wrap .group {
        flex-direction: column;
        gap: 29px 0;
    }
    .ctn_map .map_info .info_wrap .group .item {
        position: relative; /* before 정렬의 기준 */
        padding: 0 0 0 75px;
    }
    .ctn_map .map_info .info_wrap .group .item::before {
        width: 48px;
        height: 48px;
    }
    .ctn_map .map_info .info_wrap .group .item h4 {
        font-size: 1.6rem;
    }
}

/************ 홍보센터 > 금호역사관 ************************************************************************/
.ctn_pr05 .search {
    max-width: 946px;
    margin: 0 auto; /* 좌우 auto는 가운데 정렬 */
}
.ctn_pr05 .search .sch_wrap {
    border: 2px solid var(--color-main);
    border-radius: 50px;
    height: 81px;
    padding: 0 40px 0 40px;
    display: flex; /*검색어 입력 - 버튼 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
.ctn_pr05 .search .sch_wrap label {
    display: none; /* 접근성 때문에 필수 입력 */
}
.ctn_pr05 .search .sch_wrap input[type="text"] {
    height: 49px;
    width: calc(100% - 50px);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    border: none;
    outline: none; /* 글을 입력할때 검은 테두리 잡히는거 */
}
.ctn_pr05 .search .sch_wrap input[type="text"]::placeholder {
    font-weight: var(--font-weight-basic);
    color: #ccc;
}
.ctn_pr05 .search .sch_wrap input[type="submit"] {
    width: 49px;
    height: 49px;
    background-color: transparent;
    border: 0;
    color: transparent; /* 글자 투명 - font-size:0하면 안됨 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 27px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 27' fill='%23941D19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.9 27L15.45 17.55C14.7 18.15 13.8375 18.625 12.8625 18.975C11.8875 19.325 10.85 19.5 9.75 19.5C7.025 19.5 4.71875 18.5563 2.83125 16.6688C0.94375 14.7813 0 12.475 0 9.75C0 7.025 0.94375 4.71875 2.83125 2.83125C4.71875 0.94375 7.025 0 9.75 0C12.475 0 14.7813 0.94375 16.6688 2.83125C18.5563 4.71875 19.5 7.025 19.5 9.75C19.5 10.85 19.325 11.8875 18.975 12.8625C18.625 13.8375 18.15 14.7 17.55 15.45L27 24.9L24.9 27ZM9.75 16.5C11.625 16.5 13.2188 15.8438 14.5312 14.5312C15.8438 13.2188 16.5 11.625 16.5 9.75C16.5 7.875 15.8438 6.28125 14.5312 4.96875C13.2188 3.65625 11.625 3 9.75 3C7.875 3 6.28125 3.65625 4.96875 4.96875C3.65625 6.28125 3 7.875 3 9.75C3 11.625 3.65625 13.2188 4.96875 14.5312C6.28125 15.8438 7.875 16.5 9.75 16.5Z' /%3E%3C/svg%3E%0A");
}
.ctn_pr05 .join {
    margin: 91px 0 100px 0;
}
.ctn_pr05 .join h3 {
    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-black);
    margin: 0 0 19px 0;
}
.ctn_pr05 .join .agree .agree_box {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 36px;
    height: 324px;
    overflow-y: auto;
}
.ctn_pr05 .join .agree .agree_box p {
    white-space: pre; /* 엔터 띄어쓰기 그대로 입력*/
}