/* *******************************************************
* 파일명 : layout.css
* 작성자 : 이윤
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일 선언
**********************************************************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m);
    transition: transform 0.5s;
}

header .logo a {
    display: block;
    width: 121px;
    height: 30px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

header .util .lang {
    display: block;
    padding-left: 1.4706em; /* 아이콘이 들어갈 여백 */
    position: relative; /* before 정렬의 기준 */
}
header .util .lang::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.1765em;
    width: 0.9776em;
    height: 0.9776em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3125 16.625C7.17281 16.625 6.09729 16.4065 5.08594 15.9696C4.07458 15.5327 3.19258 14.9379 2.43994 14.1851C1.68715 13.4324 1.09229 12.5504 0.655375 11.5391C0.218458 10.5277 0 9.45219 0 8.3125C0 7.16377 0.218458 6.08599 0.655375 5.07916C1.09229 4.07232 1.68715 3.19258 2.43994 2.43994C3.19258 1.68715 4.07458 1.09229 5.08594 0.655375C6.09729 0.218459 7.17281 0 8.3125 0C9.46123 0 10.539 0.218459 11.5458 0.655375C12.5527 1.09229 13.4324 1.68715 14.1851 2.43994C14.9379 3.19258 15.5327 4.07232 15.9696 5.07916C16.4065 6.08599 16.625 7.16377 16.625 8.3125C16.625 9.45219 16.4065 10.5277 15.9696 11.5391C15.5327 12.5504 14.9379 13.4324 14.1851 14.1851C13.4324 14.9379 12.5527 15.5327 11.5458 15.9696C10.539 16.4065 9.46123 16.625 8.3125 16.625ZM8.3125 15.2939C8.75904 14.7017 9.13485 14.1043 9.43994 13.5019C9.74502 12.8995 9.99352 12.241 10.1854 11.5264H6.43956C6.64271 12.2634 6.89405 12.9332 7.19359 13.5356C7.49299 14.138 7.86596 14.7241 8.3125 15.2939ZM6.61806 15.0533C6.28265 14.572 5.98143 14.0249 5.71441 13.412C5.44739 12.7989 5.23986 12.1704 5.09184 11.5264H2.12363C2.58577 12.4351 3.20556 13.1985 3.983 13.8167C4.76044 14.4347 5.63879 14.8469 6.61806 15.0533ZM10.0069 15.0533C10.9862 14.8469 11.8646 14.4347 12.642 13.8167C13.4194 13.1985 14.0392 12.4351 14.5014 11.5264H11.5332C11.357 12.1759 11.1354 12.8072 10.8684 13.4203C10.6015 14.0334 10.3144 14.5777 10.0069 15.0533ZM1.57325 10.2139H4.82606C4.77108 9.88867 4.7312 9.5698 4.70641 9.25728C4.68176 8.94491 4.66944 8.62998 4.66944 8.3125C4.66944 7.99502 4.68176 7.68009 4.70641 7.36772C4.7312 7.0552 4.77108 6.73633 4.82606 6.41113H1.57325C1.4891 6.70833 1.42465 7.01735 1.37988 7.33819C1.33496 7.65902 1.3125 7.98379 1.3125 8.3125C1.3125 8.64121 1.33496 8.96598 1.37988 9.28681C1.42465 9.60765 1.4891 9.91667 1.57325 10.2139ZM6.13834 10.2139H10.4867C10.5415 9.88867 10.5813 9.57265 10.6061 9.26581C10.6307 8.95898 10.6431 8.64121 10.6431 8.3125C10.6431 7.98379 10.6307 7.66602 10.6061 7.35919C10.5813 7.05235 10.5415 6.73633 10.4867 6.41113H6.13834C6.08351 6.73633 6.0437 7.05235 6.01891 7.35919C5.99426 7.66602 5.98194 7.98379 5.98194 8.3125C5.98194 8.64121 5.99426 8.95898 6.01891 9.26581C6.0437 9.57265 6.08351 9.88867 6.13834 10.2139ZM11.7989 10.2139H15.0518C15.1359 9.91667 15.2004 9.60765 15.2451 9.28681C15.29 8.96598 15.3125 8.64121 15.3125 8.3125C15.3125 7.98379 15.29 7.65902 15.2451 7.33819C15.2004 7.01735 15.1359 6.70833 15.0518 6.41113H11.7989C11.8539 6.73633 11.8938 7.0552 11.9186 7.36772C11.9432 7.68009 11.9556 7.99502 11.9556 8.3125C11.9556 8.62998 11.9432 8.94491 11.9186 9.25728C11.8938 9.5698 11.8539 9.88867 11.7989 10.2139ZM11.5332 5.09863H14.5014C14.0337 4.17871 13.4181 3.41527 12.6547 2.80831C11.8913 2.2015 11.0087 1.78646 10.0069 1.56319C10.3424 2.07244 10.6407 2.62945 10.9021 3.23422C11.1635 3.83884 11.3739 4.46031 11.5332 5.09863ZM6.43956 5.09863H10.1854C9.98229 4.36713 9.72679 3.69316 9.41894 3.07672C9.11094 2.46028 8.74212 1.87841 8.3125 1.33109C7.88287 1.87841 7.51406 2.46028 7.20606 3.07672C6.89821 3.69316 6.64271 4.36713 6.43956 5.09863ZM2.12363 5.09863H5.09184C5.25109 4.46031 5.46146 3.83884 5.72294 3.23422C5.98427 2.62945 6.28265 2.07244 6.61806 1.56319C5.61065 1.78646 4.72668 2.20296 3.96616 2.81269C3.20549 3.42227 2.59131 4.18425 2.12363 5.09863Z' /%3E%3C/svg%3E%0A");
}
/***********************header 고정 ****************************************/
header.fixed {
    color: var(--color-black);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px 0 var(--color-black4);
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 13' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.5V0H17V1.5H0ZM0 13V11.5H17V13H0ZM0 7.25V5.75H17V7.25H0Z'/%3E%3C/svg%3E%0A");
}
header.fixed .util .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3125 16.625C7.17281 16.625 6.09729 16.4065 5.08594 15.9696C4.07458 15.5327 3.19258 14.9379 2.43994 14.1851C1.68715 13.4324 1.09229 12.5504 0.655375 11.5391C0.218458 10.5277 0 9.45219 0 8.3125C0 7.16377 0.218458 6.08599 0.655375 5.07916C1.09229 4.07232 1.68715 3.19258 2.43994 2.43994C3.19258 1.68715 4.07458 1.09229 5.08594 0.655375C6.09729 0.218459 7.17281 0 8.3125 0C9.46123 0 10.539 0.218459 11.5458 0.655375C12.5527 1.09229 13.4324 1.68715 14.1851 2.43994C14.9379 3.19258 15.5327 4.07232 15.9696 5.07916C16.4065 6.08599 16.625 7.16377 16.625 8.3125C16.625 9.45219 16.4065 10.5277 15.9696 11.5391C15.5327 12.5504 14.9379 13.4324 14.1851 14.1851C13.4324 14.9379 12.5527 15.5327 11.5458 15.9696C10.539 16.4065 9.46123 16.625 8.3125 16.625ZM8.3125 15.2939C8.75904 14.7017 9.13485 14.1043 9.43994 13.5019C9.74502 12.8995 9.99352 12.241 10.1854 11.5264H6.43956C6.64271 12.2634 6.89405 12.9332 7.19359 13.5356C7.49299 14.138 7.86596 14.7241 8.3125 15.2939ZM6.61806 15.0533C6.28265 14.572 5.98143 14.0249 5.71441 13.412C5.44739 12.7989 5.23986 12.1704 5.09184 11.5264H2.12363C2.58577 12.4351 3.20556 13.1985 3.983 13.8167C4.76044 14.4347 5.63879 14.8469 6.61806 15.0533ZM10.0069 15.0533C10.9862 14.8469 11.8646 14.4347 12.642 13.8167C13.4194 13.1985 14.0392 12.4351 14.5014 11.5264H11.5332C11.357 12.1759 11.1354 12.8072 10.8684 13.4203C10.6015 14.0334 10.3144 14.5777 10.0069 15.0533ZM1.57325 10.2139H4.82606C4.77108 9.88867 4.7312 9.5698 4.70641 9.25728C4.68176 8.94491 4.66944 8.62998 4.66944 8.3125C4.66944 7.99502 4.68176 7.68009 4.70641 7.36772C4.7312 7.0552 4.77108 6.73633 4.82606 6.41113H1.57325C1.4891 6.70833 1.42465 7.01735 1.37988 7.33819C1.33496 7.65902 1.3125 7.98379 1.3125 8.3125C1.3125 8.64121 1.33496 8.96598 1.37988 9.28681C1.42465 9.60765 1.4891 9.91667 1.57325 10.2139ZM6.13834 10.2139H10.4867C10.5415 9.88867 10.5813 9.57265 10.6061 9.26581C10.6307 8.95898 10.6431 8.64121 10.6431 8.3125C10.6431 7.98379 10.6307 7.66602 10.6061 7.35919C10.5813 7.05235 10.5415 6.73633 10.4867 6.41113H6.13834C6.08351 6.73633 6.0437 7.05235 6.01891 7.35919C5.99426 7.66602 5.98194 7.98379 5.98194 8.3125C5.98194 8.64121 5.99426 8.95898 6.01891 9.26581C6.0437 9.57265 6.08351 9.88867 6.13834 10.2139ZM11.7989 10.2139H15.0518C15.1359 9.91667 15.2004 9.60765 15.2451 9.28681C15.29 8.96598 15.3125 8.64121 15.3125 8.3125C15.3125 7.98379 15.29 7.65902 15.2451 7.33819C15.2004 7.01735 15.1359 6.70833 15.0518 6.41113H11.7989C11.8539 6.73633 11.8938 7.0552 11.9186 7.36772C11.9432 7.68009 11.9556 7.99502 11.9556 8.3125C11.9556 8.62998 11.9432 8.94491 11.9186 9.25728C11.8938 9.5698 11.8539 9.88867 11.7989 10.2139ZM11.5332 5.09863H14.5014C14.0337 4.17871 13.4181 3.41527 12.6547 2.80831C11.8913 2.2015 11.0087 1.78646 10.0069 1.56319C10.3424 2.07244 10.6407 2.62945 10.9021 3.23422C11.1635 3.83884 11.3739 4.46031 11.5332 5.09863ZM6.43956 5.09863H10.1854C9.98229 4.36713 9.72679 3.69316 9.41894 3.07672C9.11094 2.46028 8.74212 1.87841 8.3125 1.33109C7.88287 1.87841 7.51406 2.46028 7.20606 3.07672C6.89821 3.69316 6.64271 4.36713 6.43956 5.09863ZM2.12363 5.09863H5.09184C5.25109 4.46031 5.46146 3.83884 5.72294 3.23422C5.98427 2.62945 6.28265 2.07244 6.61806 1.56319C5.61065 1.78646 4.72668 2.20296 3.96616 2.81269C3.20549 3.42227 2.59131 4.18425 2.12363 5.09863Z' /%3E%3C/svg%3E%0A");
}

/********************스크롤을 아래로 내릴때 header 올림 *************************
    header에 menu_pc, menu_mo 이때는 작동이 안됐으면 좋겠어요.
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}
@media screen and (min-width:1025px){ /* 1025보다 클때 - pc버전 */
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일 일때만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        line-height: calc(var(--header-h) -60px);
        padding: 30px 2.2955em; 
        /* 
            전체 높이가 90px
            위 여백 30px , 아래여백 30px
            글자는 40px
        */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::after,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus > span::after {
        content: "";
        position: absolute;
        left: -5px;
        top: -5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%; /* 정렬의 기준 li 넓이의 절반 */
        top: var(--header-h);
        transform: translateX(-50%); /* 나 자신의 넓이의 절반 */
        text-align: center;
        min-width: 100%; /* 최소 넓이 - li의 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 3px 0;
        color: var(--color-black);
        white-space: nowrap; /* 줄바꿈 금지 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--color-main);
        font-weight: var(--font-weight-bold);
    }

    /* **********************menu_pc가 추가되었을때 (메뉴 나타남 )********************************/
    header.menu_pc {
        color: var(--color-black);
    }
    header::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background-color: var(--color-white);
        transition: height 0.5s;
    }
    header.menu_pc::before {
        height: 400px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: var(--color-black3);
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .util .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3125 16.625C7.17281 16.625 6.09729 16.4065 5.08594 15.9696C4.07458 15.5327 3.19258 14.9379 2.43994 14.1851C1.68715 13.4324 1.09229 12.5504 0.655375 11.5391C0.218458 10.5277 0 9.45219 0 8.3125C0 7.16377 0.218458 6.08599 0.655375 5.07916C1.09229 4.07232 1.68715 3.19258 2.43994 2.43994C3.19258 1.68715 4.07458 1.09229 5.08594 0.655375C6.09729 0.218459 7.17281 0 8.3125 0C9.46123 0 10.539 0.218459 11.5458 0.655375C12.5527 1.09229 13.4324 1.68715 14.1851 2.43994C14.9379 3.19258 15.5327 4.07232 15.9696 5.07916C16.4065 6.08599 16.625 7.16377 16.625 8.3125C16.625 9.45219 16.4065 10.5277 15.9696 11.5391C15.5327 12.5504 14.9379 13.4324 14.1851 14.1851C13.4324 14.9379 12.5527 15.5327 11.5458 15.9696C10.539 16.4065 9.46123 16.625 8.3125 16.625ZM8.3125 15.2939C8.75904 14.7017 9.13485 14.1043 9.43994 13.5019C9.74502 12.8995 9.99352 12.241 10.1854 11.5264H6.43956C6.64271 12.2634 6.89405 12.9332 7.19359 13.5356C7.49299 14.138 7.86596 14.7241 8.3125 15.2939ZM6.61806 15.0533C6.28265 14.572 5.98143 14.0249 5.71441 13.412C5.44739 12.7989 5.23986 12.1704 5.09184 11.5264H2.12363C2.58577 12.4351 3.20556 13.1985 3.983 13.8167C4.76044 14.4347 5.63879 14.8469 6.61806 15.0533ZM10.0069 15.0533C10.9862 14.8469 11.8646 14.4347 12.642 13.8167C13.4194 13.1985 14.0392 12.4351 14.5014 11.5264H11.5332C11.357 12.1759 11.1354 12.8072 10.8684 13.4203C10.6015 14.0334 10.3144 14.5777 10.0069 15.0533ZM1.57325 10.2139H4.82606C4.77108 9.88867 4.7312 9.5698 4.70641 9.25728C4.68176 8.94491 4.66944 8.62998 4.66944 8.3125C4.66944 7.99502 4.68176 7.68009 4.70641 7.36772C4.7312 7.0552 4.77108 6.73633 4.82606 6.41113H1.57325C1.4891 6.70833 1.42465 7.01735 1.37988 7.33819C1.33496 7.65902 1.3125 7.98379 1.3125 8.3125C1.3125 8.64121 1.33496 8.96598 1.37988 9.28681C1.42465 9.60765 1.4891 9.91667 1.57325 10.2139ZM6.13834 10.2139H10.4867C10.5415 9.88867 10.5813 9.57265 10.6061 9.26581C10.6307 8.95898 10.6431 8.64121 10.6431 8.3125C10.6431 7.98379 10.6307 7.66602 10.6061 7.35919C10.5813 7.05235 10.5415 6.73633 10.4867 6.41113H6.13834C6.08351 6.73633 6.0437 7.05235 6.01891 7.35919C5.99426 7.66602 5.98194 7.98379 5.98194 8.3125C5.98194 8.64121 5.99426 8.95898 6.01891 9.26581C6.0437 9.57265 6.08351 9.88867 6.13834 10.2139ZM11.7989 10.2139H15.0518C15.1359 9.91667 15.2004 9.60765 15.2451 9.28681C15.29 8.96598 15.3125 8.64121 15.3125 8.3125C15.3125 7.98379 15.29 7.65902 15.2451 7.33819C15.2004 7.01735 15.1359 6.70833 15.0518 6.41113H11.7989C11.8539 6.73633 11.8938 7.0552 11.9186 7.36772C11.9432 7.68009 11.9556 7.99502 11.9556 8.3125C11.9556 8.62998 11.9432 8.94491 11.9186 9.25728C11.8938 9.5698 11.8539 9.88867 11.7989 10.2139ZM11.5332 5.09863H14.5014C14.0337 4.17871 13.4181 3.41527 12.6547 2.80831C11.8913 2.2015 11.0087 1.78646 10.0069 1.56319C10.3424 2.07244 10.6407 2.62945 10.9021 3.23422C11.1635 3.83884 11.3739 4.46031 11.5332 5.09863ZM6.43956 5.09863H10.1854C9.98229 4.36713 9.72679 3.69316 9.41894 3.07672C9.11094 2.46028 8.74212 1.87841 8.3125 1.33109C7.88287 1.87841 7.51406 2.46028 7.20606 3.07672C6.89821 3.69316 6.64271 4.36713 6.43956 5.09863ZM2.12363 5.09863H5.09184C5.25109 4.46031 5.46146 3.83884 5.72294 3.23422C5.98427 2.62945 6.28265 2.07244 6.61806 1.56319C5.61065 1.78646 4.72668 2.20296 3.96616 2.81269C3.20549 3.42227 2.59131 4.18425 2.12363 5.09863Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
        padding-top: 0; 
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 1;
        height: 310px;
        padding-top: 26px; 
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: var(--header-h);
        z-index: -2;
        width: 100%;
        height: 0;
        background-color: var(--color-black2);
        backdrop-filter: blur(4px);
        opacity: 0;
        transition: height 0.1s, opacity 0.5s;
    }
    header.menu_pc .gnb .gnb_bg{
        height: 100vh;
        opacity: 1;
    }
}/* @media  */
/*************************************mobile *************************************************/
@media screen and (max-width:1280px) and (min-width:1025px){ 
    /* 1280 ~ 1024사이 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 1.4em;
    }
}
@media screen and (max-width:1024px){
    header {
        padding-right : 0; /* 오른쪽에 메뉴가 들어가기때문에 여백 삭제 */
    }
    
    header .logo a {
        width: 98px;
        height: 24.3px;
        margin-bottom: 2px;
    }
    
    header .util {
        display: none; /* 숨김 */
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 17px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 13' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.5V0H17V1.5H0ZM0 13V11.5H17V13H0ZM0 7.25V5.75H17V7.25H0Z'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        height: 100dvh;
        z-index: 10;
        background-color: var(--color-white);
        color: var(--color-black);
        width: 70%;
        transition: right 0.5s;
    }
    header .gnb .gnb_bg {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-black2);
        backdrop-filter: blur(4px);
    }
    /*************************************시작 : 메뉴가 열렸을떄 *********************************************/

    header.menu_mo .gnb .gnb_wrap {
        display: block;
    }
    header.menu_mo .gnb .gnb_bg {
        display: block;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: var(--wrapper-m);
        top: 0;
        width: 98px;
        height: var(--header-h);
        background: url(../images/common/logo.svg)no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-top: 1px solid var(--color-black3);
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child {
        border-bottom: 1px solid var(--color-black3);
    }
    header .gnb .gnb_wrap ul.depth1 > li a {
        display: block;
        padding: 16px 0 16px var(--wrapper-m);
        font-size: var(--font-size-header);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-basic);
        position: relative; /* before, after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li a::before,
    header .gnb .gnb_wrap ul.depth1 > li a::after {
        content: "";
        position: absolute;
        right: 21px;
        top: 45%;
        width: 15px;
        height: 1px;
        background-color: var(--color-black);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        transform: rotate(90deg);
        transition: 0.5s;
    }
    /*****************************시작 : open 클래스 추가 **********************************/
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before,
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(0);
    }
    /*****************************끝 : open 클래스 추가 **********************************/
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        padding: 23px 0 23px 16px;
        background-color: var(--color-gray);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--color-black);
        font-size: var(--font-size-basic);
        font-weight: var(--font-weight-basic);
        line-height: var(--line-height-depth);
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute; /* */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 13.31px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='23%251d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05375 13.3075L0 12.2538L5.6 6.65375L0 1.05375L1.05375 0L6.65375 5.6L12.2537 0L13.3075 1.05375L7.7075 6.65375L13.3075 12.2538L12.2537 13.3075L6.65375 7.7075L1.05375 13.3075Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        left: -101%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-black2);
        backdrop-filter: blur(4px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg{
        opacity: 1;
        right: 0;
    }
    /***************************************끝 : 메뉴가 열렸을떄 *******************************************/
}/* @media */
@media screen and (max-width: 768px){
    header .logo a {
        width: 76.63px;
        height: 19px;
        margin-bottom: 5px;
    }
    header .gnb .gnb_open {
        background-size: 12px;
    }
}/* @media */

footer {
    background-color: var(--color-black);
    color: #666;
    padding: 69px 0 78px 0;
}
footer .wrapper {
    display: flex; /* f_logo - inner 좌우배치 */
    gap: 0 32px;
    position: relative; /* f_util 정렬의 기준 */
}
footer .f_logo {
    width: 121px;
    height: 30px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
footer .f_util {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
    display: flex; /* family_site - top 좌우 배치 */
    gap: 0 19px;
    color: var(--color-white);
}
footer .f_util .family_site {
    width: 152px;
    /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
    그래서 감싸고 있는 .family_site에 넓이를 주고 내부요소는 그에 100% 꽉차게줌 */
    position: relative; /* family_wrap 정렬의 기준 */
}
footer .f_util .family_site .family_open,
footer .f_util .family_site .family_close {
    display: block;
    width: 100%;
    height: 2.1765em;
    background-color: var(--color-basic);
    text-align: left;
    padding: 0.2941em 0 0 0.8824em;
    position: relative; /* 정렬의 기준 */
}
footer .f_util .family_site .family_open::after,
footer .f_util .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 0.7059em;
    top: 0.8824em;
    width: 0.4435em;
    height: 0.2629em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 5' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.76917 1.405L0.7025 4.47167L0 3.76917L3.76917 0L7.53833 3.76917L6.83583 4.47167L3.76917 1.405Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: 2.2353em; /* 하단에 버튼을 포함한 높이 */
    width: 100%;
    background-color: var(--color-basic);
    padding: 1.2941em 0.8824em 1.2941em 0.8824em;
}
footer .f_util .family_site .family_wrap ul li a {
    display: block;
    padding: 0.1765em 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative; /* after 정렬의 기준 */
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute;
    right: -0.7059em;
    top: 0.3529em;
    width: 0.4706em;
    height: 0.4706em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.459 7.859L0 7.4L6.7205 0.666667H0.525667V0H7.859V7.33333H7.19233V1.1385L0.459 7.859Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_close {
    display: none;
}

/* 열렸을때 */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site .family_close::after {
    animation: family_btn 0.5s 1 forwards;
}
@keyframes family_btn {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

footer .f_util .top {
    height: 2.1765em;
    padding: 0.3529em 0.2941em 0 0.3529em;
    background-color: var(--color-main);
}
footer .inner {
    margin: 13px 0 0 0;
}
footer .inner .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.3529em;
}
footer .inner .f_info {
    margin: 26px 0;
}
@media screen and (max-width: 1280px){
    footer .inner .f_nav ul {
        gap: 0 1.7647em;
    }
}
@media screen and (max-width: 1024px){
    footer .wrapper {
        flex-direction: column;
        gap: 0 32px;
    }
    footer .f_util {
        margin: 15px 0 0 0;
    }
}
@media screen and (max-width: 768px){
    footer {
        padding: 20px 0 52px 0;
    }
    footer .wrapper {
        display: block; /* f_logo - inner 좌우배치 */
    }
    footer .f_logo {
        width: 96px;
        height: 23.8px;
    }
    footer .f_util {
        position: relative; /* wrapper를 기준으로 정렬 */
        right: auto;
        top: auto;
        gap: 0 14px;
        margin: 14px 0 52px 0;
    }
    footer .f_util .family_site {
        width: calc(100% - 85px);
        max-width: 470px;
        /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
        그래서 감싸고 있는 .family_site에 넓이를 주고 내부요소는 그에 100% 꽉차게줌 */
        position: relative; /* family_wrap 정렬의 기준 */
    }
    footer .f_util .top {
        height: 2.1765em;
        padding: 0.3529em 0.2941em 0 0.3529em;
        background-color: var(--color-main);
    }
    footer .inner {
        margin: 13px 0 0 0;
    }
    footer .inner .f_nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2.3529em;
    }
    footer .inner .f_info {
        margin: 26px 0;
    }
}
  /* 열렸을때 */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site .family_close::after {
    animation: family_btn 0.5s 1 forwards;
}
@keyframes family_btn {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}