@font-face {
    font-family: 'KakaoBigFont';
    src: url('../fonts/KakaoBigSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'KakaoBigFont';
    src: url('../fonts/KakaoBigSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }