/* *******************************************************
* 파일명 : layout.css
* 작성자 : 이윤
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일 선언
**********************************************************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    padding: 0 var(--wrapper-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 189.96px;
    height: 46px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    line-height: var(--header-h);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    padding: 0 20px;
}
header .util {
    display: flex;
    gap: 0 4px;
}
header .util .search .sch_open,
header .util .lang .lang_open,
header .util .mypage {
    display: block;
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .search .sch_open {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6 18L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L18 16.6L16.6 18ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' /%3E%3C/svg%3E%0A");
}
header .util .lang .lang_open {
    background-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
header .util .mypage {
    background-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.85 15.1C4.7 14.45 5.65 13.9375 6.7 13.5625C7.75 13.1875 8.85 13 10 13C11.15 13 12.25 13.1875 13.3 13.5625C14.35 13.9375 15.3 14.45 16.15 15.1C16.7333 14.4167 17.1875 13.6417 17.5125 12.775C17.8375 11.9083 18 10.9833 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 10.9833 2.1625 11.9083 2.4875 12.775C2.8125 13.6417 3.26667 14.4167 3.85 15.1ZM10 11C9.01667 11 8.1875 10.6625 7.5125 9.9875C6.8375 9.3125 6.5 8.48333 6.5 7.5C6.5 6.51667 6.8375 5.6875 7.5125 5.0125C8.1875 4.3375 9.01667 4 10 4C10.9833 4 11.8125 4.3375 12.4875 5.0125C13.1625 5.6875 13.5 6.51667 13.5 7.5C13.5 8.48333 13.1625 9.3125 12.4875 9.9875C11.8125 10.6625 10.9833 11 10 11ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C10.8833 18 11.7167 17.8708 12.5 17.6125C13.2833 17.3542 14 16.9833 14.65 16.5C14 16.0167 13.2833 15.6458 12.5 15.3875C11.7167 15.1292 10.8833 15 10 15C9.11667 15 8.28333 15.1292 7.5 15.3875C6.71667 15.6458 6 16.0167 5.35 16.5C6 16.9833 6.71667 17.3542 7.5 17.6125C8.28333 17.8708 9.11667 18 10 18ZM10 9C10.4333 9 10.7917 8.85833 11.075 8.575C11.3583 8.29167 11.5 7.93333 11.5 7.5C11.5 7.06667 11.3583 6.70833 11.075 6.425C10.7917 6.14167 10.4333 6 10 6C9.56667 6 9.20833 6.14167 8.925 6.425C8.64167 6.70833 8.5 7.06667 8.5 7.5C8.5 7.93333 8.64167 8.29167 8.925 8.575C9.20833 8.85833 9.56667 9 10 9Z' /%3E%3C/svg%3E%0A");
}
/**************header에 dark 클래스 추가****************/
header.dark {
    color: var(--color-black);
}
header.dark .logo a {
    background-image: url(../images/common/logo.svg);
}
header.dark .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6 18L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L18 16.6L16.6 18ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' /%3E%3C/svg%3E%0A");
}
header.dark .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
header.dark .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='blacks' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.85 15.1C4.7 14.45 5.65 13.9375 6.7 13.5625C7.75 13.1875 8.85 13 10 13C11.15 13 12.25 13.1875 13.3 13.5625C14.35 13.9375 15.3 14.45 16.15 15.1C16.7333 14.4167 17.1875 13.6417 17.5125 12.775C17.8375 11.9083 18 10.9833 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 10.9833 2.1625 11.9083 2.4875 12.775C2.8125 13.6417 3.26667 14.4167 3.85 15.1ZM10 11C9.01667 11 8.1875 10.6625 7.5125 9.9875C6.8375 9.3125 6.5 8.48333 6.5 7.5C6.5 6.51667 6.8375 5.6875 7.5125 5.0125C8.1875 4.3375 9.01667 4 10 4C10.9833 4 11.8125 4.3375 12.4875 5.0125C13.1625 5.6875 13.5 6.51667 13.5 7.5C13.5 8.48333 13.1625 9.3125 12.4875 9.9875C11.8125 10.6625 10.9833 11 10 11ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C10.8833 18 11.7167 17.8708 12.5 17.6125C13.2833 17.3542 14 16.9833 14.65 16.5C14 16.0167 13.2833 15.6458 12.5 15.3875C11.7167 15.1292 10.8833 15 10 15C9.11667 15 8.28333 15.1292 7.5 15.3875C6.71667 15.6458 6 16.0167 5.35 16.5C6 16.9833 6.71667 17.3542 7.5 17.6125C8.28333 17.8708 9.11667 18 10 18ZM10 9C10.4333 9 10.7917 8.85833 11.075 8.575C11.3583 8.29167 11.5 7.93333 11.5 7.5C11.5 7.06667 11.3583 6.70833 11.075 6.425C10.7917 6.14167 10.4333 6 10 6C9.56667 6 9.20833 6.14167 8.925 6.425C8.64167 6.70833 8.5 7.06667 8.5 7.5C8.5 7.93333 8.64167 8.29167 8.925 8.575C9.20833 8.85833 9.56667 9 10 9Z' /%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 99.11px;
        height: 24px;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 18.97px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05383 2.10765C0.755241 2.10765 0.504958 2.00666 0.302975 1.80468C0.100992 1.60269 0 1.35241 0 1.05383C0 0.755241 0.100992 0.504958 0.302975 0.302975C0.504958 0.100992 0.755241 0 1.05383 0H17.915C18.2136 0 18.4639 0.100992 18.6659 0.302975C18.8679 0.504958 18.9689 0.755241 18.9689 1.05383C18.9689 1.35241 18.8679 1.60269 18.6659 1.80468C18.4639 2.00666 18.2136 2.10765 17.915 2.10765H1.05383ZM1.05383 14.7536C0.755241 14.7536 0.504958 14.6526 0.302975 14.4506C0.100992 14.2486 0 13.9983 0 13.6997C0 13.4011 0.100992 13.1509 0.302975 12.9489C0.504958 12.7469 0.755241 12.6459 1.05383 12.6459H17.915C18.2136 12.6459 18.4639 12.7469 18.6659 12.9489C18.8679 13.1509 18.9689 13.4011 18.9689 13.6997C18.9689 13.9983 18.8679 14.2486 18.6659 14.4506C18.4639 14.6526 18.2136 14.7536 17.915 14.7536H1.05383ZM1.05383 8.4306C0.755241 8.4306 0.504958 8.32961 0.302975 8.12763C0.100992 7.92564 0 7.67536 0 7.37678C0 7.07819 0.100992 6.82791 0.302975 6.62593C0.504958 6.42394 0.755241 6.32295 1.05383 6.32295H17.915C18.2136 6.32295 18.4639 6.42394 18.6659 6.62593C18.8679 6.82791 18.9689 7.07819 18.9689 7.37678C18.9689 7.67536 18.8679 7.92564 18.6659 8.12763C18.4639 8.32961 18.2136 8.4306 17.915 8.4306H1.05383Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .util {
        display: none;
    }

    /**************header에 dark 클래스 추가****************/
    header.dark .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 15' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05383 2.10765C0.755241 2.10765 0.504958 2.00666 0.302975 1.80468C0.100992 1.60269 0 1.35241 0 1.05383C0 0.755241 0.100992 0.504958 0.302975 0.302975C0.504958 0.100992 0.755241 0 1.05383 0H17.915C18.2136 0 18.4639 0.100992 18.6659 0.302975C18.8679 0.504958 18.9689 0.755241 18.9689 1.05383C18.9689 1.35241 18.8679 1.60269 18.6659 1.80468C18.4639 2.00666 18.2136 2.10765 17.915 2.10765H1.05383ZM1.05383 14.7536C0.755241 14.7536 0.504958 14.6526 0.302975 14.4506C0.100992 14.2486 0 13.9983 0 13.6997C0 13.4011 0.100992 13.1509 0.302975 12.9489C0.504958 12.7469 0.755241 12.6459 1.05383 12.6459H17.915C18.2136 12.6459 18.4639 12.7469 18.6659 12.9489C18.8679 13.1509 18.9689 13.4011 18.9689 13.6997C18.9689 13.9983 18.8679 14.2486 18.6659 14.4506C18.4639 14.6526 18.2136 14.7536 17.915 14.7536H1.05383ZM1.05383 8.4306C0.755241 8.4306 0.504958 8.32961 0.302975 8.12763C0.100992 7.92564 0 7.67536 0 7.37678C0 7.07819 0.100992 6.82791 0.302975 6.62593C0.504958 6.42394 0.755241 6.32295 1.05383 6.32295H17.915C18.2136 6.32295 18.4639 6.42394 18.6659 6.62593C18.8679 6.82791 18.9689 7.07819 18.9689 7.37678C18.9689 7.67536 18.8679 7.92564 18.6659 8.12763C18.4639 8.32961 18.2136 8.4306 17.915 8.4306H1.05383Z' /%3E%3C/svg%3E%0A");
    }
} /*media*/

/************************* fullpage 안할때 header 스타일 고정 **********************
    body에 fp-scrollable fp-responsive 클래스가 추가됨
*/
body.fp-scrollable header {
    background-color: var(--color-white);
    color: var(--color-black);
}
body.fp-scrollable header .logo a {
    background-image: url(../images/common/logo.svg);
}
body.fp-scrollable header .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6 18L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L18 16.6L16.6 18ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .util .lang .lang_open {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .util .mypage {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .gnb .gnb_open {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='blacks' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.85 15.1C4.7 14.45 5.65 13.9375 6.7 13.5625C7.75 13.1875 8.85 13 10 13C11.15 13 12.25 13.1875 13.3 13.5625C14.35 13.9375 15.3 14.45 16.15 15.1C16.7333 14.4167 17.1875 13.6417 17.5125 12.775C17.8375 11.9083 18 10.9833 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 10.9833 2.1625 11.9083 2.4875 12.775C2.8125 13.6417 3.26667 14.4167 3.85 15.1ZM10 11C9.01667 11 8.1875 10.6625 7.5125 9.9875C6.8375 9.3125 6.5 8.48333 6.5 7.5C6.5 6.51667 6.8375 5.6875 7.5125 5.0125C8.1875 4.3375 9.01667 4 10 4C10.9833 4 11.8125 4.3375 12.4875 5.0125C13.1625 5.6875 13.5 6.51667 13.5 7.5C13.5 8.48333 13.1625 9.3125 12.4875 9.9875C11.8125 10.6625 10.9833 11 10 11ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C10.8833 18 11.7167 17.8708 12.5 17.6125C13.2833 17.3542 14 16.9833 14.65 16.5C14 16.0167 13.2833 15.6458 12.5 15.3875C11.7167 15.1292 10.8833 15 10 15C9.11667 15 8.28333 15.1292 7.5 15.3875C6.71667 15.6458 6 16.0167 5.35 16.5C6 16.9833 6.71667 17.3542 7.5 17.6125C8.28333 17.8708 9.11667 18 10 18ZM10 9C10.4333 9 10.7917 8.85833 11.075 8.575C11.3583 8.29167 11.5 7.93333 11.5 7.5C11.5 7.06667 11.3583 6.70833 11.075 6.425C10.7917 6.14167 10.4333 6 10 6C9.56667 6 9.20833 6.14167 8.925 6.425C8.64167 6.70833 8.5 7.06667 8.5 7.5C8.5 7.93333 8.64167 8.29167 8.925 8.575C9.20833 8.85833 9.56667 9 10 9Z' /%3E%3C/svg%3E%0A");
}


footer {
    background-color: var(--color-black);
    color: var(--color-white);
}
footer .f_head {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    position: relative;
}
footer .f_head::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100px;
    background-color: rgba(204, 204, 204, 0.5);
}
footer .f_head .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_head .item {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 19px 0;
}
footer .f_head .item h2 {
    font-size: var(--font-size-sub);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
footer .f_head .item p {

}
footer .f_head .item a {
    display: block;
    padding: 10px 20px 10px 50px;
    background-color: var(--color-main2);
    border-radius: 50px;
    color: var(--color-white);
    position: relative;
}
footer .f_head .item a::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 11px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .f_head .item.letter a::before {
    background-size: 19px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.80775 15C1.30258 15 0.875 14.825 0.525 14.475C0.175 14.125 0 13.6974 0 13.1923V1.80775C0 1.30258 0.175 0.875 0.525 0.525C0.875 0.175 1.30258 0 1.80775 0H17.1923C17.6974 0 18.125 0.175 18.475 0.525C18.825 0.875 19 1.30258 19 1.80775V13.1923C19 13.6974 18.825 14.125 18.475 14.475C18.125 14.825 17.6974 15 17.1923 15H1.80775ZM9.5 8.05775L1.5 2.94225V13.1923C1.5 13.2821 1.52883 13.3558 1.5865 13.4135C1.64417 13.4712 1.71792 13.5 1.80775 13.5H17.1923C17.2821 13.5 17.3558 13.4712 17.4135 13.4135C17.4712 13.3558 17.5 13.2821 17.5 13.1923V2.94225L9.5 8.05775ZM9.5 6.5L17.3463 1.5H1.65375L9.5 6.5ZM1.5 2.94225V1.5V13.1923C1.5 13.2821 1.52883 13.3558 1.5865 13.4135C1.64417 13.4712 1.71792 13.5 1.80775 13.5H1.5V2.94225Z' /%3E%3C/svg%3E%0A");
}
footer .f_head .item.support a::before {
    background-size: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 20' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 12.3C8.9 11.4667 9.6 10.8 10.1 10.3C10.6 9.8 10.9917 9.38333 11.275 9.05C11.5417 8.71667 11.7292 8.40833 11.8375 8.125C11.9458 7.84167 12 7.53333 12 7.2C12 6.6 11.7833 6.08333 11.35 5.65C10.9167 5.21667 10.4 5 9.8 5C9.45 5 9.1125 5.07083 8.7875 5.2125C8.4625 5.35417 8.2 5.55 8 5.8C7.8 5.55 7.54167 5.35417 7.225 5.2125C6.90833 5.07083 6.56667 5 6.2 5C5.6 5 5.08333 5.21667 4.65 5.65C4.21667 6.08333 4 6.6 4 7.2C4 7.55 4.05 7.85833 4.15 8.125C4.25 8.39167 4.43333 8.69167 4.7 9.025C4.98333 9.35833 5.36667 9.775 5.85 10.275C6.33333 10.775 7.05 11.45 8 12.3ZM8 17.35C10.0333 15.4833 11.5417 13.7875 12.525 12.2625C13.5083 10.7375 14 9.38333 14 8.2C14 6.38333 13.4208 4.89583 12.2625 3.7375C11.1042 2.57917 9.68333 2 8 2C6.31667 2 4.89583 2.57917 3.7375 3.7375C2.57917 4.89583 2 6.38333 2 8.2C2 9.38333 2.49167 10.7375 3.475 12.2625C4.45833 13.7875 5.96667 15.4833 8 17.35ZM8 20C5.31667 17.7167 3.3125 15.5958 1.9875 13.6375C0.6625 11.6792 0 9.86667 0 8.2C0 5.7 0.804167 3.70833 2.4125 2.225C4.02083 0.741667 5.88333 0 8 0C10.1167 0 11.9792 0.741667 13.5875 2.225C15.1958 3.70833 16 5.7 16 8.2C16 9.86667 15.3375 11.6792 14.0125 13.6375C12.6875 15.5958 10.6833 17.7167 8 20Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub {
    padding: 60px 0 72px 0;
}
footer .f_sub .wrapper {
    position: relative;
    display: flex;
    gap: 0 107px;
}
footer .f_sub .f_logo img {
    width: 189.96px;
}
footer .f_sub .sns {
    position: absolute;
    right: 0;
    top: 0;
}
/* 위에 li태그가 잇는 li만 스타일 적용 - 그렇기 때문에 두번째 li부터 상단여백 */
footer .f_sub .sns ul li + li {
    margin: 14px 0 0 0;
}
footer .f_sub .sns ul li a {
    display: block;
    border: 1px solid var(--color-white);
    border-radius: 50px;
    padding: 5px 23px 4px 39px;
    position: relative;
}
footer .f_sub .sns ul li a::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    width: 18px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .f_sub .sns ul li.blog a::before {
    background-size: 11px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 14' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.03194 3.26406C5.56461 3.26406 6.06328 3.35473 6.52794 3.53606C6.99261 3.7174 7.40061 3.9894 7.75194 4.35206C8.10328 4.71473 8.37528 5.1624 8.56794 5.69506C8.77194 6.22773 8.87394 6.8454 8.87394 7.54806V8.87406C8.87394 9.57673 8.77194 10.1944 8.56794 10.7271C8.37528 11.2484 8.10328 11.6904 7.75194 12.0531C7.40061 12.4044 6.99261 12.6707 6.52794 12.8521C6.06328 13.0334 5.56461 13.1241 5.03194 13.1241H5.01494C4.39161 13.1241 3.81928 13.0051 3.29794 12.7671C2.78794 12.5291 2.37428 12.1494 2.05694 11.6281V12.8691H-5.66244e-05V6.21676e-05H2.05694V4.89606C2.37428 4.35206 2.78794 3.94406 3.29794 3.67206C3.81928 3.40006 4.39161 3.26406 5.01494 3.26406H5.03194ZM6.81694 7.78606C6.81694 7.31006 6.75461 6.8964 6.62994 6.54506C6.51661 6.19373 6.35228 5.90473 6.13694 5.67806C5.92161 5.44006 5.67228 5.27006 5.38894 5.16806C5.10561 5.05473 4.80528 4.99806 4.48794 4.99806H4.47094C4.16494 4.99806 3.86461 5.0604 3.56994 5.18506C3.28661 5.2984 3.03161 5.47973 2.80494 5.72906C2.57828 5.96706 2.39694 6.27306 2.26094 6.64706C2.12494 7.00973 2.05694 7.43473 2.05694 7.92206V8.50006C2.05694 8.9874 2.12494 9.4124 2.26094 9.77506C2.39694 10.1377 2.57828 10.4437 2.80494 10.6931C3.03161 10.9311 3.28661 11.1124 3.56994 11.2371C3.86461 11.3504 4.16494 11.4071 4.47094 11.4071H4.48794C4.80528 11.4071 5.10561 11.3561 5.38894 11.2541C5.67228 11.1407 5.92161 10.9707 6.13694 10.7441C6.35228 10.5061 6.51661 10.2171 6.62994 9.87706C6.75461 9.52573 6.81694 9.11206 6.81694 8.63606V7.78606Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.face a::before {
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 19' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_30_735)'%3E%3Cpath d='M9.34486 10.6865L9.86373 7.24698H6.6195V5.01796C6.6195 4.07943 7.07023 3.16222 8.52201 3.16222H9.99476V0.234634C9.99476 0.234634 8.65828 0 7.37945 0C4.71174 0 2.96646 1.64777 2.96646 4.62868V7.24698H0V10.6865H2.96646V19H6.6195V10.6865H9.34486Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_735'%3E%3Crect width='10' height='19' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.talk a::before {
    background-size: 18px;
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_30_747)'%3E%3Cpath d='M9.00098 0.5C13.7968 0.500029 17.5 3.64205 17.5 7.31445C17.4998 10.9866 13.7949 14.1279 8.99902 14.1279C8.45337 14.1279 7.92008 14.0865 7.40332 14.0078L7.20605 13.9785L7.04199 14.0928C6.31356 14.6007 4.89248 15.5932 4.11426 16.1367C4.30275 15.4025 4.61247 14.2066 4.75391 13.6631L4.85547 13.2715L4.49414 13.0898C2.0577 11.8651 0.50015 9.71009 0.5 7.31445C0.5 3.64209 4.20321 0.5 9.00098 0.5Z' stroke='white'/%3E%3Cpath d='M2.72127 5.9677H3.64781C3.64781 5.9677 3.65328 8.58323 3.64781 9.19258C3.64781 9.63694 4.61083 9.64257 4.61083 9.19821L4.61447 6.00145C4.61447 6.00145 4.92454 6.00332 5.53554 6.00332C6.11189 6.00332 6.11189 5.07148 5.53554 5.07148C4.88623 5.07148 2.71763 5.05273 2.71763 5.05273C2.17411 5.05273 2.17593 5.96583 2.71763 5.96583' fill='white'/%3E%3Cmask id='mask0_30_747' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='2' y='5' width='4' height='5'%3E%3Cpath d='M2.72127 5.9677H3.64781C3.64781 5.9677 3.65328 8.58323 3.64781 9.19258C3.64781 9.63694 4.61083 9.64257 4.61083 9.19821L4.61447 6.00145C4.61447 6.00145 4.92454 6.00332 5.53554 6.00332C6.11189 6.00332 6.11189 5.07148 5.53554 5.07148C4.88623 5.07148 2.71763 5.05273 2.71763 5.05273C2.17411 5.05273 2.17593 5.96583 2.71763 5.96583' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_747)'%3E%3Cpath d='M6.11369 5.05469H2.1759V9.64452H6.11369V5.05469Z' fill='white'/%3E%3C/g%3E%3Cpath d='M7.15518 6.13633L7.67134 7.79752H6.59707L7.15518 6.13633ZM6.57701 5.35823C6.34902 5.87384 5.52645 8.31125 5.25286 8.9581C5.05588 9.42496 5.90764 9.80557 6.10462 9.33871L6.29066 8.67311H7.98505C7.98505 8.67311 7.92669 8.70123 8.15103 9.31059C8.33342 9.80557 9.21436 9.46246 9.03014 8.96747C8.76933 8.26063 7.87015 5.71822 7.706 5.35823C7.63122 5.19136 7.35946 5.07324 7.09682 5.07324C6.87977 5.07324 6.66638 5.15574 6.57701 5.35823Z' fill='white'/%3E%3Cmask id='mask1_30_747' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='5' y='5' width='5' height='5'%3E%3Cpath d='M7.15518 6.13633L7.67134 7.79752H6.59707L7.15518 6.13633ZM6.57701 5.35823C6.34902 5.87384 5.52645 8.31125 5.25286 8.9581C5.05588 9.42496 5.90764 9.80557 6.10462 9.33871L6.29066 8.67311H7.98505C7.98505 8.67311 7.92669 8.70123 8.15103 9.31059C8.33342 9.80557 9.21436 9.46246 9.03014 8.96747C8.76933 8.26063 7.87015 5.71822 7.706 5.35823C7.63122 5.19136 7.35946 5.07324 7.09682 5.07324C6.87977 5.07324 6.66638 5.15574 6.57701 5.35823Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_30_747)'%3E%3Cpath d='M9.21621 5.07324H5.05591V9.80744H9.21621V5.07324Z' fill='white'/%3E%3C/g%3E%3Cpath d='M9.35657 5.51198C9.35657 6.3407 9.36204 9.0106 9.36204 9.0106C9.36204 9.0106 9.28726 9.5412 9.73047 9.5412C10.1737 9.5412 11.1549 9.53558 11.5908 9.53558C12.0267 9.53558 12.0231 8.58311 11.589 8.58311C11.1549 8.58311 10.3597 8.57749 10.3597 8.57749C10.3597 8.57749 10.3634 6.1082 10.3615 5.50823C10.3615 5.21761 10.1098 5.07324 9.85996 5.07324C9.61009 5.07324 9.35839 5.21949 9.35839 5.5101' fill='white'/%3E%3Cmask id='mask2_30_747' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='9' y='5' width='3' height='5'%3E%3Cpath d='M9.35657 5.51198C9.35657 6.3407 9.36204 9.0106 9.36204 9.0106C9.36204 9.0106 9.28726 9.5412 9.73047 9.5412C10.1737 9.5412 11.1549 9.53558 11.5908 9.53558C12.0267 9.53558 12.0231 8.58311 11.589 8.58311C11.1549 8.58311 10.3597 8.57749 10.3597 8.57749C10.3597 8.57749 10.3634 6.1082 10.3615 5.50823C10.3615 5.21761 10.1098 5.07324 9.85996 5.07324C9.61009 5.07324 9.35839 5.21949 9.35839 5.5101' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask2_30_747)'%3E%3Cpath d='M12.0249 5.07324H9.28723V9.53933H12.0249V5.07324Z' fill='white'/%3E%3C/g%3E%3Cpath d='M12.1417 5.37893C12.1508 5.74267 12.1307 9.02568 12.1307 9.26942C12.1307 9.65378 13.0828 9.6519 13.081 9.26942C13.081 8.82318 13.081 7.97759 13.081 7.97759L13.36 7.74697L14.582 9.46066C14.8283 9.79627 15.6053 9.19067 15.359 8.85506L14.0622 7.09825C14.0622 7.09825 14.9432 6.11953 15.2897 5.76517C15.4922 5.55893 14.8648 4.90833 14.6623 5.11644C14.4653 5.31706 13.0865 6.73638 13.0865 6.73638C13.0865 6.73638 13.0992 5.84579 13.0865 5.35269C13.081 5.16519 12.8585 5.0752 12.6305 5.0752C12.3861 5.0752 12.1362 5.17832 12.1417 5.37893Z' fill='white'/%3E%3Cmask id='mask3_30_747' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='12' y='5' width='4' height='5'%3E%3Cpath d='M12.1417 5.37893C12.1508 5.74267 12.1307 9.02568 12.1307 9.26942C12.1307 9.65378 13.0828 9.6519 13.081 9.26942C13.081 8.82318 13.081 7.97759 13.081 7.97759L13.36 7.74697L14.582 9.46066C14.8283 9.79627 15.6053 9.19067 15.359 8.85506L14.0622 7.09825C14.0622 7.09825 14.9432 6.11953 15.2897 5.76517C15.4922 5.55893 14.8648 4.90833 14.6623 5.11644C14.4653 5.31706 13.0865 6.73638 13.0865 6.73638C13.0865 6.73638 13.0992 5.84579 13.0865 5.35269C13.081 5.16519 12.8585 5.0752 12.6305 5.0752C12.3861 5.0752 12.1362 5.17832 12.1417 5.37893Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask3_30_747)'%3E%3Cpath d='M15.6071 4.91016H12.1307V9.79435H15.6071V4.91016Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_747'%3E%3Crect width='18' height='17' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.insta a::before {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_30_742)'%3E%3Cpath d='M13.7614 3.21289C13.1804 3.21289 12.7056 3.68777 12.7056 4.26874C12.7056 4.84971 13.1804 5.32459 13.7614 5.32459C14.3424 5.32459 14.8173 4.84971 14.8173 4.26874C14.8173 3.68777 14.3424 3.21289 13.7614 3.21289Z' fill='white'/%3E%3Cpath d='M9.07324 4.56738C6.62811 4.56738 4.6427 6.55784 4.6427 8.99792C4.6427 11.438 6.63316 13.4285 9.07324 13.4285C11.5133 13.4285 13.5038 11.438 13.5038 8.99792C13.5038 6.55784 11.5133 4.56738 9.07324 4.56738ZM9.07324 11.8371C7.50714 11.8371 6.23406 10.564 6.23406 8.99792C6.23406 7.43182 7.50714 6.15874 9.07324 6.15874C10.6393 6.15874 11.9124 7.43182 11.9124 8.99792C11.9124 10.564 10.6393 11.8371 9.07324 11.8371Z' fill='white'/%3E%3Cpath d='M12.5894 18H5.40556C2.42492 18 0 15.5751 0 12.5944V5.41061C0 2.42492 2.42492 0 5.40556 0H12.5894C15.57 0 17.9949 2.42492 17.9949 5.40556V12.5894C17.9949 15.57 15.57 17.9949 12.5894 17.9949V18ZM5.40556 1.69239C3.35953 1.69239 1.69239 3.35953 1.69239 5.40556V12.5894C1.69239 14.6354 3.35953 16.3026 5.40556 16.3026H12.5894C14.6354 16.3026 16.3026 14.6354 16.3026 12.5894V5.40556C16.3026 3.35953 14.6354 1.69239 12.5894 1.69239H5.40556Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_742'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.youtube a::before {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_30_780)'%3E%3Cpath d='M4.55566 0.5H13.4443C15.6841 0.500258 17.4997 2.3159 17.5 4.55566V13.4443C17.4997 15.6841 15.6841 17.4997 13.4443 17.5H4.55566C2.3159 17.4997 0.500258 15.6841 0.5 13.4443V4.55566C0.500258 2.3159 2.3159 0.500258 4.55566 0.5Z' stroke='white'/%3E%3Cpath d='M13.7583 7.91417C13.7583 6.73646 12.8002 5.77832 11.6225 5.77832H6.16307C4.98536 5.77832 4.02722 6.73646 4.02722 7.91417V10.4542C4.02722 11.6319 4.98037 12.5901 6.16307 12.5901H11.6225C12.8002 12.5901 13.7583 11.6369 13.7583 10.4542V7.91417ZM10.5495 9.37133L8.10429 10.584C8.00948 10.6339 7.68012 10.564 7.68012 10.4592V7.97405C7.68012 7.86426 8.00948 7.7944 8.10429 7.84929L10.4447 9.12182C10.5445 9.17671 10.6444 9.32143 10.5445 9.37133H10.5495Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_780'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .f_nav ul {
    display: flex;
    gap: 0 36px;
}
footer .f_sub .f_info {
    margin: 25px 0 25px 0 ;
}
footer .f_sub .f_info span,
footer .f_sub .f_info address {
    display: inline-block;
    margin-right: 36px;
}
footer .f_sub .copyright {
    color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:1160px){
    footer .f_sub .wrapper {
        flex-direction: column;
        gap: 20px 0;
    }
}
@media screen and (max-width:1024px){
    footer .f_head {
        border-bottom: 0;
        position: relative;
    }
    footer .f_head::before {
        display: none;
    }
    footer .f_head .wrapper {
        flex-direction: column;
    }
    footer .f_head .item {
        width: 100%;
        padding: 17px 0 17px 0;
        align-items: center;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    }
    footer .f_head .item h2 {
        font-size: 20px;
        margin: 0;
    }
    footer .f_head .item p {
    display: none;
    }
    footer .f_head .item a {
        padding: 8px 23px 8px 50px;
    }
    footer .f_sub {
        padding: 24px 0 32px 0;
    }
    footer .f_sub .wrapper {
        display: flex;
        flex-direction: column;
        align-items :center;
        gap: 24px 0;
    }
    footer .f_sub .f_logo img {
        width: 99.11px;
    }
    footer .f_sub .sns {
        position: relative;
        right: auto;
        top: auto;
    }
    footer .f_sub .sns ul {
        display: flex;
        gap: 0 2px;
    }
    /* 위에 li태그가 잇는 li만 스타일 적용 - 그렇기 때문에 두번째 li부터 상단여백 */
    footer .f_sub .sns ul li + li {
        margin: 0;
    }
    footer .f_sub .sns ul li a {
        display: block;
        border: 1px solid var(--color-white);
        border-radius: 50%;
        padding: 14px;
        position: relative;
    }
    footer .f_sub .sns ul li a span {
        display: none;
    }
    footer .f_sub .sns ul li a::before {
        left: 5px;
        width: 18px;
    }
    footer .f_sub .f_nav ul {
        display: flex;
        gap: 0 36px;
    }
    footer .f_sub .f_info {
        margin: 25px 0 25px 0 ;
    }
    footer .f_sub .f_info span,
    footer .f_sub .f_info address {
        display: inline-block;
        margin-right: 36px;
    }
    footer .f_sub .copyright {
        color: rgba(255, 255, 255, 0.8);
    }
}