/* *******************************************************
* 파일명 : main.css
* 작성자 : 이윤
* 작성일 : 25-11-05
* 설  명 : index파일 (메인페이지에서만 호출하는 css
           메인페이지 (index)의 스타일이 이 페이지에서 선언됨 (header/footer)
           default.css (태그의 초기화 - 브라우저 스타일 제거)
           common.css (wrapper, blind 처럼 모든 페이지에서 반복되는 기본 스타일 - 변수도 여기서 선언)
           - 변수도 여기서 선언, 변수가 너무 많으면 var이라는 파일을 분리하기도 함
           layout.css (문서의 구조에 영향을 끼치는 요소 - header/footer가 들어감)
**********************************************************/

@import url(default.css);
@import url(font.css); /* cdn 방식은 외부에서 가져오는 방식이기 때문에 없어지면 연결 안됨 */
@import url(common.css);
@import url(layout.css);

/*
    <li>
        <a></a> -----span 덮는 용도
        <span class fp-tooltip>
    </li>
*/

#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 10px 0 10px 0;
}
#fp-nav ul li a {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid red;
}
#fp-nav ul li a span {
    display: none;
}
#fp-nav ul li .fp-tooltip {
    position: relative;
    left: auto;
    top: auto;
    color: rgba(255, 255, 255, 0.8);
    font-size: inherit;
    font-family: inherit;
    max-width: 100%;
    overflow: visible;
    opacity: 1;
    width: auto;
}

h2 {
    font-size: 100px;
    text-align: center;
}

.visual {
    background-color: brown;
    color: var(--color-white);
}
.tree {

}
.work {
    background-color: blue;
    color: var(--color-white);
}
.news {

}
footer {
    background-color: black;
    color: var(--color-white);
}