/* 모든페이지에서 중복되는 스타일 */
:root {
  --font-size-visual : 80px;
  --font-size-tit : 40px;
  --font-size-sub : 24px;
  --font-size-header : 20px;
  --font-size-basic : 17px;
  --font-size-m : 16px;
  /* ----------------------------------- */
  --font-weight-basic : 400;
  --font-weight-bold : 700;
  /* ----------------------------------- */
  --line-height-tit : 1.3;
  --line-height-basic : 1.5;
  /* ----------------------------------- */
  --color-black : #1d1d1d;
  --color-black2 : rgba(0, 0, 0, 0.5);
  --color-black3 : rgba(0, 0, 0, 0.2);
  --color-black4 :rgba(0, 0, 0, 0.1);
  --color-basic : #555555;
  --color-main : #2c4347;
  --color-point : #da081e;
  --color-point2 : #b79858;
  --color-white : #fff;
  --color-white2 : rgba(255, 255, 255, 0.5);
  --color-white3 : rgba(255, 255, 255, 0.3);
  --color-white4 : rgba(255, 255, 255, 0.2);
  --color-gray2 : rgba(121, 121, 121, 0.5);
  /* ----------------------------------- */
  --header-h : 90px;
  --header-var : clamp(56px, 10vw, 90px);
  --wrapper-m : 30px;
  }

@media screen and (max-width:1024px){
  :root {
    --header-h: 70px;
  }
}
@media screen and (max-width:768px){
  :root {
    --font-size-visual : 32px;
    --font-size-tit : 24px;
    --font-size-sub : 20px;
    --font-size-basic : 16px;
    --header-h : 56px;
    --wrapper-m : 16px;
  }
}
html {
  font-size: 10px;
}
body {
  font-family: 'SUIT', sans-serif;
  /* 프리텐다드를 적용하는데 만약 안되면 다음에 맑은고딕 서체를 적용하고 안되면 다음서체 적용
    sans-serif 다 없으면 고딕체 아무거나 가지고와 / serif는 명조체 */
  font-size: 1.7rem;
  font-weight: var(--font-weight-basic);
  line-height: var(--line-height-basic);
  color: var(--color-basic);
  word-break: keep-all;
  word-wrap: break-word;
}
/* 영어만 NexonLv1Gothic 적용 */
body [lang="en"] {
  font-family: 'NexonLv1Gothic', sans-serif;
}
@media screen and (max-width:768px){
  body {
    font-size: 1.6rem; /*16px이라는 뜻 */
  }
}
#wrap {
  position: relative; /* header 정렬의 기준 */
  /*overflow: hidden;*/  /* 가로스크롤바 생길때 */
}
/* html문서 구조상 글자를 써줘야 하는데 그 글자를 안보이게 하고 싶을때 blind 클래스를 줌 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrapper {
  width: 1260px;
  margin: 0 auto; /* 가운데 정렬 */
}
/* 
  좌우여백을 50px : 1260 + 50 + 50 = 1360
  좌우여백을 30px : 1260 + 30 + 30 = 1320
  좌우여백을 5% : 1260(1260*0.05 = 63) + (1260*0.05 = 63) = 1386
  좌우여백을 3% : 1260(1260*0.03 = 37.8) + (1260*0.03 = 37.8) = 1335.6
*/

@media screen and (max-width:1320px){
  .wrapper {
    width: auto;
    margin: 0 var(--wrapper-m); 
  }
}

.mo_only {
  display: none;
}
@media screen and (max-width:768px){
  .mo_only { /* 모바일에서만 보임 */
    display: block;
  }
  .pc_only { /* pc버전에서만 보임 */
    display: none;
  }
}/* @media */