@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'SUIT';
  src: url('../fonts/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SUIT';
  src: url('../fonts/SUIT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

