/* *******************************************************
* 파일명 : layout.css
* 작성자 : 이윤
* 작성일 : 25-11-12
* 설  명 : header/footer 스타일 선언
**********************************************************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-black);
    padding: 0 var(--wrapper-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white); /* 배경색이 있어야 그림자가 보임 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* x y blur color */
}
header .logo a {
    display: block;
    width: 237px;
    height: 46px;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul > li > a {
    display: block;
    line-height: var(--header-h);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    padding: 0 32px;
}
header .util {
    display: flex;
    gap: 0 30px;
}
header .util .apply a {
    display: block;
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-basic);
    color: var(--color-white);
    padding: 11px 52px 11px 52px;
    background-color: var(--color-basic);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
header .util .apply a:hover {
    background-color: var(--color-point);
}

header .util .lang {
    display: block;
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    header .logo a {
        width: 117px;
        height: 22px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 10' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.33333V0H12V1.33333H0ZM0 9.33333V8H12V9.33333H0ZM0 5.33333V4H12V5.33333H0Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul {
        display: none;
    }
    header .util {
        display: block;
    }
    header .util .apply a {
        display: none;
        font-size: var(--font-size-header);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-basic);
        color: var(--color-white);
        padding: 11px 52px 11px 52px;
        background-color: var(--color-basic);
        border-radius: 10px;
    }
    header .util .apply a:hover {
        background-color: var(--color-point);
    }
    
    header .util .lang {
        display: none;
    }
}

footer {
    height: 298px;
    background-color: var(--color-black);
    color: rgba(255, 255, 255, 0.8);
    border: 3px solid red;
    position: relative;
}
footer .f_tit ul {
    display: flex;
    justify-content: space-between;
    margin: 49px 0 0 0;
    border: 3px solid red;
}
footer .f_tit ul li {
    width: 404px;
    border: 3px solid red;
}
footer .f_tit ul li h2 {
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
footer .f_tit ul li p {
    font-size: var(--font-size-sub);
    font-weight: var(--font-weight-basic);
    line-height: var(--line-height-basic);
}
footer .f_tit ul li .sns {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
footer .f_tit ul li .sns span {
    display: block;
    text-align: center;
    padding: 3px 54px 3px 67px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}
footer .f_logo a {
    position: absolute;
    right: 0;
    bottom: 50%;
    display: block;
    width: 237px;
    height: 46px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}