@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    gap: 60px;
}
a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    padding: 10px;
}

.square {
    width: 400px;
    height: 400px;
    position: relative;
}
.square span {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    transition: 0.5s;
}
.square:nth-child(1):hover span {
    background-color: crimson;
    border: none;
}
.square:nth-child(2):hover span {
    background-color: dodgerblue;
    border: none;
}
.square:nth-child(3):hover span {
    background-color: yellowgreen;
    border: none;
}
.square span:nth-child(1) {
    animation: circle 5s linear infinite;
}
.square span:nth-child(2) {
    animation: circle 4s linear infinite;
    animation-direction: reverse;
}
.square span:nth-child(3) {
    animation: circle 10s linear infinite;
}
.square:hover span:nth-child(1) {
    opacity: 0.3;
}
.square:hover span:nth-child(2) {
    opacity: 0.6;
}
.square:hover span:nth-child(3) {
    opacity: 0.8;
}
.square div {
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    color: #fff;
}
@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}